<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 ion-text color="title" padding>Goal Deleted</h1>

  <p ion-text color="grey" padding>
    Your <span ion-text color="primary">{{name}}</span> Goal has been deleted.
  </p>

  <button (click)="goToHome()" ion-button color="secondary" class="big-button">
    Home
  </button>

</ion-content>