<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content #content padding text-center>

  <h1 margin-vertical ion-text color="title" padding>Create a Goal</h1>

  <div margin-vertical>
    <img style="width: 30%;" src="assets/img/goal-setting.png" alt="GoalSestting">
  </div>

  <h3 margin-vertical ion-text color="grey">Pick your goal</h3>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of list">
        <button (click)="goalSelect(item)" [class.blue-box]="displayInput && item.showInput" padding class="onward-box rounded goal-item press">

          <ion-row text-center *ngIf="item.img">
            <img class="icons" src="assets/img/goal-icons/{{item.img}}" alt="">
          </ion-row>
          <ion-row *ngIf="item.img">
            <span class="goal-title">{{item.title}}</span>
          </ion-row>

          <ion-row *ngIf="!item.img">
            <span class="goal-title-large">{{item.title}}</span>
          </ion-row>

        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="displayInput">
    <ion-item>
      <ion-label floating>Other</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-row margin-vertical>
      <button (click)="goToCalculation()" ion-button class="big-button mx-auto" color="secondary">
        Next
      </button>
    </ion-row>

  </div>

  <ion-row margin>
    <button (click)="this.navCtrl.setRoot('HomePage')" class="big-button mx-auto" ion-button color="light">
      <span ion-text color="primary">
        <ion-icon name="arrow-back" padding-right></ion-icon><span>Back</span>
      </span>
    </button>
  </ion-row>

</ion-content>
