page-create-goal {

  button.press {
    min-width: 150px;
    min-height: 100px;
    color: color($colors, primary);
    transition: background-color 0.5s, color 0.5s;

    &:active {
      color: white;
    }

    &:hover {
      color: white;
    }
  }


  .goal-title {
    color: #878787;
    font-size: 12px;
    margin: auto;
  }

  .goal-title-large {
    color: #878787;
    font-size: 24px;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  .blue-box .goal-title {
    color: white;
  }


  .blue-box {
    .goal-title-large {
      color: white;
    }
  }

  .icons {
    height: 80px;
    margin: auto;
  }

  .goal-item {
    height: 100%;
  }
}
