<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 ion-text color="title" padding>Delete Complete</h1>

  <p ion-text color="grey" padding>
    Your Connected Account <span ion-text color="primary">{{name}}</span> account has been removed.
  </p>

  <button (click)="goToHome()" ion-button color="secondary" class="big-button">
    Home
  </button>

</ion-content>