<ion-navbar hideBackButton="true">

    <ion-buttons left *ngIf="isActive()">
      <button ion-button icon-only (click)="goToDashboard()">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="house"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right *ngIf="isActive()">
      <button ion-button icon-only (click)="goToMessages()">
        <ion-icon name="mail"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToNotifications()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  

  <ion-title text-center (click)="brandClicked()">
    <svg height="8vw" viewBox="0 0 58 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Onward-Account-Opening-User-Journey" transform="translate(-93.000000, -47.000000)" fill="#FFFFFF">
          <g id="Group-150" transform="translate(93.000000, 46.980000)">
            <path d="M54.7905,8.1328 C54.7805,8.1318 54.7695,8.1308 54.7585,8.1308 C54.7585,7.9888 54.7685,7.8468 54.7575,7.7068 C54.6895,6.8378 54.2645,6.4048 53.4325,6.3498 C52.5785,6.2938 52.0745,6.6808 51.8975,7.5268 C51.8005,7.9878 51.7835,8.4498 51.8295,8.9188 C51.8965,9.5928 52.1705,9.9428 52.8125,10.1378 C53.8715,10.4598 54.5205,10.0598 54.6915,8.9738 C54.7355,8.6948 54.7585,8.4128 54.7905,8.1328 M57.2965,10.2008 L57.2645,10.4498 C57.1455,10.4788 57.0995,10.5298 57.2135,10.6268 C57.0835,11.3698 56.7115,11.9628 56.0195,12.2748 C54.1665,13.1088 52.3145,13.0888 50.5105,12.1258 C49.5015,11.5868 49.1585,10.6158 48.9825,9.5628 C48.7625,8.2478 48.8735,6.9698 49.3845,5.7298 C49.9575,4.3408 51.1715,3.5678 52.6665,3.6868 C53.1445,3.7248 53.6235,3.8078 54.0895,3.9218 C54.3735,3.9918 54.3995,3.8918 54.3975,3.6638 C54.3905,2.9978 54.3845,2.3328 54.3995,1.6678 C54.4085,1.2628 54.4705,0.8658 54.9425,0.7148 C55.2085,0.7848 55.4655,0.8028 55.6825,0.5888 L56.2785,0.5888 C56.4675,0.6818 56.6445,0.8568 56.8735,0.6758 C57.3315,0.7258 57.3785,1.0578 57.3785,1.4178 C57.3765,3.0998 57.3785,4.7818 57.3705,6.4628 C57.3655,7.5358 57.3465,8.6088 57.3345,9.6818 C57.1505,9.8428 57.1895,10.0188 57.2965,10.2008"
              id="Fill-126"></path>
            <path d="M0.6167,8.8619 C2.2107,12.3939 5.8817,13.8309 9.1097,11.8149 C10.6117,10.8779 11.4907,9.5399 11.5197,7.7219 C11.5277,7.2499 11.3827,7.1109 10.9167,7.1049 C10.3367,7.0979 9.7557,7.0989 9.1747,7.1029 C8.5537,7.1069 8.3867,7.2589 8.2927,7.8829 C8.2027,8.4819 7.9627,8.9879 7.4307,9.3279 C6.3437,10.0229 4.7857,9.7679 4.0327,8.7239 C3.1407,7.4869 3.1817,6.1569 3.7677,4.8149 C3.9607,4.3749 4.3177,4.0469 4.7887,3.9119 C5.2217,3.7889 5.3697,3.5179 5.3687,3.0989 C5.3677,2.5039 5.3777,1.9089 5.4017,1.3149 C5.4137,1.0329 5.3627,0.7879 5.1547,0.5889 L4.4737,0.5889 C4.4867,0.7189 4.3777,0.7059 4.3047,0.7279 C2.3867,1.3149 1.2537,2.6849 0.5607,4.4889 C0.5607,4.4889 -0.3003,6.8309 0.6167,8.8619"
              id="Fill-128"></path>
            <path d="M10.8516,0.6791 C11.4026,0.8961 11.5306,1.0671 11.5316,1.6091 C11.5326,2.8411 11.5336,4.0731 11.5286,5.3051 C11.5266,5.9801 11.2866,6.2161 10.6026,6.2231 C10.1076,6.2281 9.6116,6.2281 9.1156,6.2231 C8.6846,6.2181 8.3746,5.9401 8.3106,5.5121 C8.1616,4.5101 7.8156,4.1221 6.8516,3.9011 C6.5316,3.8281 6.3536,3.6581 6.3546,3.3181 C6.3576,2.6381 6.3646,1.9581 6.3526,1.2791 C6.3466,0.9491 6.5426,0.7641 6.7706,0.5891 L6.9406,0.5891 C6.9886,0.6161 7.0356,0.6661 7.0826,0.6661 C8.3396,0.6731 9.5956,0.6761 10.8516,0.6791"
              id="Fill-130"></path>
            <path d="M10.8516,0.6791 C9.5956,0.6761 8.3396,0.6731 7.0826,0.6661 C7.0356,0.6661 6.9886,0.6161 6.9406,0.5891 L10.8536,0.5891 C10.8526,0.6191 10.8526,0.6491 10.8516,0.6791"
              id="Fill-132"></path>
            <path d="M55.6826,0.5889 C55.4646,0.8029 55.2086,0.7849 54.9426,0.7149 C54.9626,0.6729 54.9826,0.6309 55.0026,0.5889 L55.6826,0.5889 Z"
              id="Fill-134"></path>
            <path d="M56.873,0.6754 C56.644,0.8564 56.467,0.6814 56.278,0.5884 L56.873,0.5884 C56.873,0.6174 56.873,0.6464 56.873,0.6754"
              id="Fill-136"></path>
            <path d="M27.6465,9.0751 C27.4985,9.5181 27.3455,9.9601 27.2025,10.4051 C27.0165,10.9851 26.8465,11.5691 26.6535,12.1461 C26.4805,12.6631 26.2475,12.8231 25.7155,12.8251 C25.2335,12.8271 24.7515,12.8251 24.2695,12.8271 C23.8285,12.8281 23.5275,12.6571 23.3615,12.2171 C22.4595,9.8321 21.6615,7.4131 21.0055,4.9491 C20.9585,4.7721 20.9205,4.5891 20.9065,4.4071 C20.8695,3.9191 21.1045,3.6701 21.6015,3.6681 C22.0975,3.6651 22.5935,3.6711 23.0895,3.6781 C23.6435,3.6871 23.8625,3.8171 24.0145,4.3601 C24.2235,5.1091 24.3755,5.8741 24.5585,6.6311 C24.7575,7.4561 24.9635,8.2811 25.1695,9.1051 C25.1815,9.1521 25.2285,9.1901 25.2925,9.2801 C25.5355,8.5071 25.6595,7.7571 25.8225,7.0161 C26.0165,6.1311 26.1995,5.2431 26.3985,4.3591 C26.5255,3.7981 26.7015,3.6671 27.2815,3.6601 C27.6775,3.6551 28.0745,3.6631 28.4705,3.6441 C28.8565,3.6271 29.0485,3.8291 29.1235,4.1741 C29.4755,5.8071 29.8245,7.4411 30.1735,9.0751 C30.1945,9.1701 30.1785,9.2771 30.3385,9.3771 C30.4755,8.8541 30.6205,8.3521 30.7385,7.8441 C31.0095,6.6711 31.2765,5.4971 31.5275,4.3201 C31.6175,3.8961 31.8315,3.6751 32.2785,3.6781 C32.8875,3.6821 33.4975,3.6611 34.1065,3.6631 C34.4925,3.6641 34.6535,3.8331 34.6085,4.2191 C34.5755,4.4981 34.4955,4.7731 34.4195,5.0451 C33.7515,7.4321 33.0265,9.8001 32.1675,12.1261 C31.9615,12.6841 31.7595,12.8281 31.1575,12.8311 C30.6475,12.8321 30.1375,12.8231 29.6275,12.8271 C29.1735,12.8301 28.8735,12.6221 28.7365,12.1911 C28.4065,11.1591 28.0815,10.1251 27.7545,9.0921 C27.7185,9.0871 27.6825,9.0811 27.6465,9.0751"
              id="Fill-138"></path>
            <path d="M20.4675,9.1908 C20.4675,10.2108 20.4715,11.2308 20.4665,12.2498 C20.4635,12.7308 20.3665,12.8258 19.8945,12.8298 C19.2995,12.8358 18.7045,12.8338 18.1105,12.8348 C17.6375,12.8358 17.4705,12.6888 17.4615,12.2048 C17.4465,11.3688 17.4505,10.5338 17.4485,9.6978 C17.4475,8.9188 17.4565,8.1398 17.4475,7.3608 C17.4395,6.6888 17.2185,6.4868 16.5625,6.5608 C16.2265,6.5988 15.8975,6.6978 15.5615,6.7408 C15.2635,6.7788 15.2135,6.9428 15.2155,7.2078 C15.2255,8.8518 15.2215,10.4948 15.2195,12.1378 C15.2195,12.7168 15.1075,12.8258 14.5205,12.8288 C13.9395,12.8308 13.3585,12.8188 12.7785,12.8338 C12.4385,12.8428 12.2675,12.6948 12.2645,12.3658 C12.2475,10.3558 12.1415,8.3428 12.3015,6.3368 C12.4205,4.8448 13.1015,4.1018 14.5615,3.8288 C15.8945,3.5788 17.2445,3.5918 18.5755,3.8558 C19.8055,4.0988 20.4055,4.8478 20.4525,6.1748 C20.4875,7.1788 20.4595,8.1848 20.4595,9.1908 L20.4675,9.1908 Z"
              id="Fill-140"></path>
            <path d="M38.4097,10.8962 C38.7607,10.9002 39.0807,10.8022 39.3587,10.5882 C39.8237,10.2292 39.8117,9.7452 39.3377,9.3922 C39.0667,9.1892 38.7537,9.1102 38.4247,9.0992 C37.7707,9.0772 37.2147,9.4742 37.1967,9.9602 C37.1777,10.4582 37.7437,10.8942 38.4097,10.8962 Z M42.4927,8.6282 C42.4927,9.4222 42.4977,10.2162 42.4907,11.0102 C42.4837,11.7812 42.2897,12.1182 41.5647,12.3512 C39.9317,12.8762 38.2577,13.0512 36.5837,12.5942 C34.7087,12.0822 33.8687,10.1962 34.7637,8.5922 C35.3447,7.5522 36.3347,7.2242 37.4417,7.1382 C38.0807,7.0882 38.7187,7.1232 39.3367,7.3072 C39.6147,7.3902 39.6937,7.3062 39.6757,7.0332 C39.6467,6.5942 39.4287,6.3032 38.9847,6.1772 C38.0617,5.9132 37.1317,5.9792 36.2037,6.1462 C35.9507,6.1922 35.6997,6.2142 35.4437,6.2152 C35.0777,6.2152 34.9097,6.0122 34.9597,5.6752 C35.0417,5.1292 35.1547,4.5882 35.2747,4.0492 C35.3187,3.8492 35.4387,3.6662 35.6767,3.6722 C37.1477,3.7132 38.6257,3.5302 40.0877,3.8162 C40.5077,3.8982 40.8957,4.0672 41.2637,4.2872 C41.9927,4.7222 42.3827,5.3652 42.4067,6.2062 C42.4297,7.0132 42.4117,7.8212 42.4117,8.6282 L42.4927,8.6282 Z"
              id="Fill-142"></path>
            <path d="M43.1687,8.8335 C43.1687,8.0825 43.1557,7.3315 43.1727,6.5815 C43.1877,5.9555 43.2797,5.3395 43.5737,4.7725 C43.8137,4.3085 44.1707,4.0095 44.6887,3.8705 C45.9267,3.5385 47.1757,3.4765 48.4377,3.6585 C49.0547,3.7475 49.1877,3.9465 49.0597,4.5545 C48.9357,5.1415 48.6997,5.6865 48.3667,6.1865 C48.1417,6.5225 47.8017,6.6275 47.4177,6.6645 C46.2847,6.7715 46.2397,6.8345 46.2327,7.9945 C46.2247,9.3685 46.2147,10.7425 46.1867,12.1165 C46.1747,12.7165 45.8757,12.9155 45.2927,12.7725 C44.8117,12.6555 44.3367,12.5265 43.8737,12.3435 C43.3637,12.1425 43.1647,11.7775 43.1677,11.2555 C43.1727,10.4485 43.1687,9.6405 43.1687,8.8335"
              id="Fill-144"></path>
            <path d="M57.2969,10.2007 C57.1889,10.0187 57.1509,9.8427 57.3339,9.6827 C57.3829,9.8597 57.3629,10.0317 57.2969,10.2007"
              id="Fill-146"></path>
            <path d="M57.2139,10.6265 C57.0989,10.5295 57.1449,10.4795 57.2649,10.4495 C57.2919,10.5215 57.2779,10.5815 57.2139,10.6265"
              id="Fill-148"></path>
          </g>
        </g>
      </g>
    </svg>
  </ion-title>

</ion-navbar>