<ion-header>
  <onward-header [active]="false"></onward-header>
</ion-header>

<ion-content padding>

  <div padding>
    <onward-branding></onward-branding>
    <h2 ion-text color="grey">LOGIN</h2>
    <p ion-text color="grey">You are on your way to a better financial future!</p>
  </div>
  <ion-list class="primary-text">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="email" type="text" (keyup.enter)="login()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" (keyup.enter)="login()"></ion-input>
    </ion-item>
    <ion-row padding>
      <button class="big-button" (click)="login()" ion-button color="secondary" [disabled]="(!this.email) || (!this.password)">Login</button>
    </ion-row>
    <ion-row>
      <button (click)="goBack()" ion-button color="light" class="big-button mx-auto">
        <span ion-text color="primary">
          <ion-icon name="arrow-back" padding-right></ion-icon><span>BACK</span>
        </span>
      </button>
    </ion-row>

    <ion-row padding>
      <a (click)="goToForgot()">Forgot Password?</a>
    </ion-row>
  </ion-list>

</ion-content>
