<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 margin-vertical ion-text color="title" padding>My Account</h1>

  <h3 margin-vertical ion-text color="grey">Connect to Your Bank</h3>

  <add-beneficiary-form (onSubmit)="createAch($event)"></add-beneficiary-form>

  <ion-row>
    <button (click)="back()" ion-button color="light" class="big-button mx-auto">
      <span ion-text color="primary">
        <ion-icon name="arrow-back" padding-right></ion-icon><span>BACK</span>
      </span>
    </button>
  </ion-row>


  <span class="danger-text" padding *ngIf="error">
    <p>{{error}}</p>
  </span>

</ion-content>