<ion-header>
  <ion-navbar>
    <ion-title>Saving Goal Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Slider 1 -->
  <ion-slides pager>

    <ion-slide>
      <ion-item>
        <ion-label>Name your goal</ion-label>
        <ion-input [(ngModel)]="savings.name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Deduction Cycle</ion-label>
        <ion-select [(ngModel)]="savings.frequency">
          <ion-option selected value="monthly">Monthly</ion-option>
          <ion-option value="bi-weekly">Bi-weekly</ion-option>
          <ion-option value="weekly">Weekly</ion-option>
        </ion-select>
      </ion-item>

      <button ion-button (click)="nextStep()" [disabled]="!savings.name">next</button>
    </ion-slide>

    <!-- Slider 2 Calculator -->
    <ion-slide>
      <ion-item>
        <ion-label>Target Date</ion-label>
        <ion-datetime [(ngModel)]="savings.targetDate" (ngModelChange)="savings.calculateSavingGoal()" displayFormat="MM/DD/YYYY"
          pickerFormat="MM DD YYYY" [min]="savings.minDate" max="2050-12-31"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Deduction</ion-label>
        <ion-input [(ngModel)]="savings.deduction" (change)="savings.calculateSavingGoal()" type="number" min="1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Saving Goal</ion-label>
        <ion-input [(ngModel)]="savings.amount" (change)="savings.calculateDeduction()" type="number" min="1"></ion-input>
      </ion-item>

      <button ion-button (click)="confirm()" [disabled]="!savings.isValid">confirm</button>
      <button ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>back
      </button>

      <div>
        Savings:
        <pre style="user-select: text;">{{savings | json}}</pre>
        <pre style="user-select: text;">Months:{{savings.months}}</pre>
        <pre style="user-select: text;">Weeks:{{savings.weeks}}</pre>
      </div>

    </ion-slide>

    <!-- Slider 3 Completed -->
    <ion-slide>
      Result:
      <div>
        <pre style="user-select: text;">{{result| json}}</pre>
      </div>
      <button ion-button (click)="goHome()">Finish</button>
    </ion-slide>

  </ion-slides>

</ion-content>