<ion-header>
  <onward-header></onward-header>
</ion-header>


<ion-content padding text-center>

  <h1 margin-vertical ion-text color="title">Request Submitted</h1>

  <p padding margin-vertical ion-text="grey">
    We have received your request to close your account. Onward will review the request and will confirm account
    closure within 48 hours.
  </p>

  <button margin-vertical ion-button color="secondary" class="secondary big-button" (click)="goToHomePage()">
    HOME
  </button>

</ion-content>