<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 ion-text color="title" class="spacing-bottom">Learn</h1>

  <div>
    <h5 ion-text color="title"><b>Latest Tips</b></h5>
    <ion-slides pager>
      <ion-slide padding *ngFor="let key of getKeys(tips)">
        <tips [tip]="tips[key]" [userId]="userProvider.currentUser.id" [tipId]="key" [saved]="savedTips? savedTips[key] : false"></tips>
      </ion-slide>
      <div style="height:10px"></div>
    </ion-slides>
  </div>

  <div margin-top>
    <h5 ion-text color="title">
      <svg width="13px" height="12px" viewBox="0 0 13 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Onward-Dashboard-and-Home" transform="translate(-204.000000, -1032.000000)" stroke="#858585">
            <g id="Group-181" transform="translate(16.000000, 919.580000)">
              <polygon id="Stroke-163" points="194.6992 113.0157 196.4692 116.6027 200.4272 117.1777 197.5632 119.9697 198.2392 123.9107 194.6992 122.0507 191.1592 123.9107 191.8352 119.9697 188.9702 117.1777 192.9282 116.6027"></polygon>
            </g>
          </g>
        </g>
      </svg>
      <b>
        Saved Tips
      </b>
    </h5>

    <ion-slides pager>
      <ion-slide padding *ngFor="let key of getKeys(savedTips)">
        <saved-tip [tip]="savedTips[key]" [tipId]="key"></saved-tip>
      </ion-slide>
      <div style="height:10px"></div>
    </ion-slides>
  </div>

</ion-content>
