page-learn {
    ion-slides {
        height: unset;
    }
    .swiper-pagination-bullet {
        background: white;
        border: 1px solid color($colors, primary);
    }
    .swiper-pagination-bullet-active {
        background: color($colors, secondary);
        border-color: color($colors, secondary);
    }
    ion-slide.swiper-slide {
        margin-bottom: 30px;
    }
    .spacing-bottom {
        margin-bottom: 30px;
    }
}