<div>
    <svg width="115px" height="37px" viewBox="0 0 115 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Onward-Account-Opening-User-Journey" transform="translate(-28.000000, -100.000000)">
          <g id="Group-179" transform="translate(28.000000, 98.980000)">
            <path d="M109.2871,16.3265 C109.2661,16.3245 109.2451,16.3235 109.2241,16.3215 C109.2241,16.0395 109.2431,15.7555 109.2211,15.4755 C109.0851,13.7395 108.2371,12.8765 106.5741,12.7665 C104.8701,12.6535 103.8641,13.4275 103.5091,15.1165 C103.3171,16.0365 103.2811,16.9595 103.3741,17.8955 C103.5071,19.2425 104.0551,19.9415 105.3371,20.3315 C107.4511,20.9735 108.7491,20.1745 109.0901,18.0055 C109.1771,17.4495 109.2221,16.8865 109.2871,16.3265 M114.2921,20.4565 L114.2281,20.9535 C113.9901,21.0125 113.8981,21.1135 114.1271,21.3065 C113.8661,22.7915 113.1241,23.9755 111.7411,24.5985 C108.0411,26.2635 104.3431,26.2255 100.7401,24.3015 C98.7241,23.2245 98.0401,21.2845 97.6881,19.1815 C97.2491,16.5565 97.4701,14.0035 98.4911,11.5275 C99.6341,8.7535 102.0591,7.2095 105.0461,7.4475 C106.0001,7.5235 106.9571,7.6885 107.8861,7.9175 C108.4541,8.0575 108.5061,7.8575 108.5021,7.4015 C108.4881,6.0725 108.4771,4.7425 108.5071,3.4145 C108.5251,2.6055 108.6491,1.8145 109.5901,1.5115 C110.1211,1.6525 110.6341,1.6875 111.0691,1.2605 L112.2581,1.2605 C112.6351,1.4465 112.9891,1.7955 113.4461,1.4335 C114.3611,1.5345 114.4561,2.1965 114.4551,2.9165 C114.4531,6.2745 114.4551,9.6335 114.4391,12.9915 C114.4291,15.1345 114.3921,17.2775 114.3671,19.4205 C114.0001,19.7415 114.0771,20.0935 114.2921,20.4565"
              id="Fill-155" fill="#080B0B"></path>
            <path d="M1.0964,17.7827 C4.2804,24.8357 11.6114,27.7067 18.0584,23.6807 C21.0564,21.8077 22.8124,19.1357 22.8704,15.5067 C22.8864,14.5637 22.5984,14.2857 21.6674,14.2737 C20.5074,14.2597 19.3474,14.2617 18.1884,14.2697 C16.9474,14.2787 16.6134,14.5817 16.4254,15.8267 C16.2464,17.0227 15.7674,18.0337 14.7044,18.7127 C12.5334,20.1007 9.4214,19.5917 7.9184,17.5077 C6.1364,15.0367 6.2184,12.3807 7.3894,9.7007 C7.7734,8.8207 8.4874,8.1667 9.4284,7.8977 C10.2924,7.6507 10.5894,7.1107 10.5874,6.2727 C10.5844,5.0847 10.6044,3.8967 10.6534,2.7097 C10.6764,2.1467 10.5734,1.6587 10.1594,1.2607 L8.7994,1.2607 C8.8254,1.5197 8.6074,1.4947 8.4614,1.5397 C4.6314,2.7107 2.3694,5.4477 0.9844,9.0487 C0.9844,9.0487 -0.7346,13.7257 1.0964,17.7827"
              id="Fill-157" fill="#080B0B"></path>
            <path d="M21.5364,1.4407 C22.6374,1.8737 22.8934,2.2157 22.8944,3.2977 C22.8964,5.7587 22.8984,8.2187 22.8894,10.6797 C22.8844,12.0277 22.4054,12.4987 21.0394,12.5137 C20.0494,12.5237 19.0594,12.5227 18.0704,12.5127 C17.2074,12.5037 16.5904,11.9487 16.4624,11.0937 C16.1634,9.0907 15.4724,8.3167 13.5484,7.8757 C12.9104,7.7297 12.5534,7.3897 12.5554,6.7107 C12.5614,5.3527 12.5764,3.9957 12.5514,2.6387 C12.5394,1.9787 12.9304,1.6117 13.3864,1.2607 L13.7264,1.2607 C13.8204,1.3147 13.9154,1.4147 14.0094,1.4147 C16.5184,1.4297 19.0274,1.4347 21.5364,1.4407"
              id="Fill-159" fill="#33C6E9"></path>
            <path d="M21.5364,1.4407 C19.0274,1.4347 16.5184,1.4297 14.0094,1.4147 C13.9154,1.4147 13.8204,1.3147 13.7264,1.2607 L21.5414,1.2607 C21.5394,1.3207 21.5374,1.3807 21.5364,1.4407"
              id="Fill-161" fill="#33C6E9"></path>
            <path d="M111.0688,1.2606 C110.6338,1.6876 110.1208,1.6516 109.5898,1.5116 C109.6298,1.4276 109.6698,1.3446 109.7098,1.2606 L111.0688,1.2606 Z"
              id="Fill-163" fill="#080B0B"></path>
            <path d="M113.4463,1.4335 C112.9893,1.7955 112.6353,1.4465 112.2583,1.2605 L113.4473,1.2605 L113.4463,1.4335 Z"
              id="Fill-165" fill="#080B0B"></path>
            <path d="M55.0776,18.2085 C54.7816,19.0935 54.4766,19.9765 54.1916,20.8655 C53.8196,22.0225 53.4806,23.1905 53.0956,24.3425 C52.7496,25.3745 52.2826,25.6935 51.2206,25.6985 C50.2576,25.7025 49.2956,25.6985 48.3336,25.7015 C47.4526,25.7045 46.8516,25.3615 46.5196,24.4835 C44.7176,19.7195 43.1246,14.8895 41.8156,9.9675 C41.7206,9.6135 41.6446,9.2495 41.6166,8.8855 C41.5426,7.9115 42.0136,7.4155 43.0046,7.4095 C43.9946,7.4045 44.9856,7.4155 45.9756,7.4305 C47.0836,7.4485 47.5196,7.7075 47.8236,8.7915 C48.2426,10.2875 48.5456,11.8155 48.9106,13.3275 C49.3086,14.9765 49.7186,16.6225 50.1316,18.2675 C50.1556,18.3615 50.2486,18.4385 50.3766,18.6185 C50.8606,17.0735 51.1106,15.5755 51.4346,14.0965 C51.8236,12.3285 52.1886,10.5565 52.5856,8.7905 C52.8386,7.6685 53.1906,7.4085 54.3476,7.3945 C55.1396,7.3845 55.9336,7.3995 56.7236,7.3625 C57.4946,7.3275 57.8776,7.7305 58.0266,8.4205 C58.7306,11.6825 59.4266,14.9455 60.1246,18.2085 C60.1656,18.3975 60.1346,18.6125 60.4536,18.8115 C60.7276,17.7675 61.0176,16.7645 61.2526,15.7495 C61.7946,13.4085 62.3266,11.0635 62.8276,8.7135 C63.0086,7.8655 63.4356,7.4235 64.3286,7.4295 C65.5456,7.4385 66.7626,7.3955 67.9786,7.3995 C68.7506,7.4015 69.0716,7.7395 68.9816,8.5105 C68.9156,9.0685 68.7556,9.6175 68.6036,10.1615 C67.2706,14.9275 65.8216,19.6565 64.1066,24.3005 C63.6946,25.4165 63.2916,25.7045 62.0896,25.7085 C61.0706,25.7125 60.0526,25.6945 59.0336,25.7015 C58.1266,25.7075 57.5286,25.2915 57.2546,24.4315 C56.5956,22.3705 55.9466,20.3065 55.2936,18.2435 C55.2216,18.2315 55.1496,18.2195 55.0776,18.2085"
              id="Fill-167" fill="#080B0B"></path>
            <path d="M40.7407,18.4396 C40.7407,20.4766 40.7477,22.5126 40.7377,24.5496 C40.7327,25.5096 40.5387,25.6996 39.5967,25.7076 C38.4087,25.7186 37.2207,25.7156 36.0327,25.7166 C35.0887,25.7176 34.7557,25.4256 34.7377,24.4586 C34.7067,22.7906 34.7157,21.1216 34.7127,19.4526 C34.7097,17.8966 34.7267,16.3406 34.7087,14.7846 C34.6937,13.4436 34.2517,13.0386 32.9427,13.1866 C32.2707,13.2626 31.6137,13.4606 30.9427,13.5466 C30.3477,13.6236 30.2487,13.9506 30.2517,14.4806 C30.2707,17.7616 30.2637,21.0426 30.2607,24.3246 C30.2587,25.4816 30.0357,25.6986 28.8637,25.7046 C27.7037,25.7096 26.5437,25.6856 25.3847,25.7156 C24.7057,25.7336 24.3637,25.4376 24.3577,24.7816 C24.3247,20.7666 24.1117,16.7466 24.4317,12.7386 C24.6697,9.7596 26.0297,8.2776 28.9447,7.7316 C31.6077,7.2326 34.3037,7.2586 36.9627,7.7846 C39.4177,8.2706 40.6157,9.7656 40.7097,12.4156 C40.7807,14.4206 40.7237,16.4316 40.7237,18.4396 L40.7407,18.4396 Z"
              id="Fill-169" fill="#080B0B"></path>
            <path d="M76.5725,21.8456 C77.2735,21.8536 77.9135,21.6576 78.4675,21.2296 C79.3965,20.5136 79.3735,19.5456 78.4275,18.8416 C77.8845,18.4366 77.2595,18.2776 76.6025,18.2556 C75.2975,18.2126 74.1865,19.0056 74.1495,19.9766 C74.1135,20.9706 75.2425,21.8416 76.5725,21.8456 M84.7255,17.3166 C84.7255,18.9016 84.7365,20.4876 84.7225,22.0726 C84.7095,23.6136 84.3225,24.2856 82.8725,24.7516 C79.6115,25.7996 76.2695,26.1486 72.9265,25.2356 C69.1815,24.2136 67.5045,20.4486 69.2925,17.2446 C70.4515,15.1676 72.4285,14.5126 74.6385,14.3406 C75.9165,14.2406 77.1895,14.3096 78.4235,14.6786 C78.9785,14.8446 79.1375,14.6746 79.1015,14.1306 C79.0425,13.2536 78.6075,12.6736 77.7205,12.4206 C75.8775,11.8946 74.0205,12.0266 72.1675,12.3606 C71.6625,12.4516 71.1605,12.4956 70.6495,12.4966 C69.9185,12.4966 69.5825,12.0916 69.6835,11.4176 C69.8455,10.3286 70.0735,9.2476 70.3115,8.1706 C70.3995,7.7726 70.6395,7.4056 71.1145,7.4196 C74.0515,7.5006 77.0045,7.1356 79.9245,7.7066 C80.7635,7.8706 81.5375,8.2076 82.2725,8.6466 C83.7285,9.5166 84.5065,10.7996 84.5555,12.4796 C84.6015,14.0906 84.5655,15.7046 84.5655,17.3166 C84.6185,17.3166 84.6725,17.3166 84.7255,17.3166"
              id="Fill-171" fill="#080B0B"></path>
            <path d="M86.0771,17.726 C86.0771,16.227 86.0501,14.727 86.0851,13.229 C86.1141,11.978 86.2981,10.748 86.8861,9.615 C87.3651,8.69 88.0781,8.091 89.1131,7.814 C91.5841,7.151 94.0791,7.027 96.5991,7.391 C97.8311,7.569 98.0981,7.967 97.8421,9.181 C97.5941,10.353 97.1231,11.441 96.4571,12.44 C96.0081,13.111 95.3291,13.321 94.5631,13.394 C92.3001,13.609 92.2101,13.735 92.1971,16.05 C92.1811,18.794 92.1601,21.539 92.1041,24.283 C92.0801,25.482 91.4831,25.878 90.3191,25.593 C89.3581,25.358 88.4101,25.101 87.4851,24.736 C86.4661,24.334 86.0681,23.605 86.0751,22.564 C86.0841,20.951 86.0771,19.339 86.0771,17.726"
              id="Fill-173" fill="#080B0B"></path>
            <path d="M114.2925,20.4563 C114.0775,20.0943 114.0005,19.7413 114.3665,19.4213 C114.4645,19.7753 114.4235,20.1193 114.2925,20.4563"
              id="Fill-175" fill="#080B0B"></path>
            <path d="M114.1267,21.3068 C113.8977,21.1138 113.9897,21.0128 114.2277,20.9538 C114.2827,21.0968 114.2547,21.2158 114.1267,21.3068"
              id="Fill-177" fill="#080B0B"></path>
          </g>
          <text id="Your-Financial-Cushion" font-family="LucidaGrande, Lucida Grande" font-size="7.7014" font-weight="normal"
            letter-spacing="-0.462084" fill="#858585">
            <tspan x="42.1306" y="136.253196">Your Financial Cushion</tspan>
          </text>
        </g>
      </g>
    </svg>
</div>
