<form [formGroup]="sps" (ngSubmit)="registerForm()" text-center>
  <ion-item>
    <ion-label floating>Address Line 1</ion-label>
    <ion-input formControlName="address_street_1" type="text"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="sps.controls['address_street_1'].errors && sps.controls['address_street_1'].dirty">
    Address Line 1 is required.
  </span>

  <ion-item>
    <ion-label floating>Address Line 2</ion-label>
    <ion-input formControlName="address_street_2" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>City</ion-label>
    <ion-input formControlName="address_city" type="text"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="sps.controls['address_city'].errors && sps.controls['address_city'].dirty">
    City must contain only alphabetical characters and hyphens.
  </span>

  <ion-item>
    <ion-label floating>State</ion-label>
    <ion-select formControlName="address_subdivision">
      <ion-option *ngFor="let state of states">{{state.text}}</ion-option>
    </ion-select>
  </ion-item>

  <span class="danger-text" padding *ngIf="sps.controls['address_subdivision'].errors && sps.controls['address_subdivision'].dirty">
    State is required.
  </span>

  <ion-item>
    <ion-label floating>Zip Code</ion-label>
    <ion-input formControlName="address_postal_code" type="text"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="sps.controls['address_postal_code'].errors && sps.controls['address_postal_code'].dirty">
    Zip Code must be at least 5 digits.
  </span>

  <ion-item class="no-border" style="margin-bottom: -20px;">
    <ion-label>Date of Birth</ion-label>
  </ion-item>
  <ion-row>
    <ion-col col-3>
      <ion-item>
        <ion-label floating>Month</ion-label>
        <ion-input type="number" formControlName="month" min="1" max="12"> </ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <ion-item>
        <ion-label floating>Day</ion-label>
        <ion-input type="number" formControlName="day" min="1" max="31"> </ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <ion-item>
        <ion-label floating>Year</ion-label>
        <ion-input type="number" formControlName="year" min="1900" [max]="maxYear()">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>


  <span class="danger-text" padding *ngIf="
  (sps.controls['day'].errors && sps.controls['day'].dirty) ||
  (sps.controls['month'].errors && sps.controls['month'].dirty) ||
  (sps.controls['year'].errors && sps.controls['year'].dirty)
  ">
    Date of Birth is required.
  </span>

  <ion-item>
    <ion-label floating>Gender</ion-label>
    <ion-select formControlName="entity_type">
      <ion-option *ngFor="let type of entityTypes" value="{{type.value}}">{{type.text}}</ion-option>
    </ion-select>
  </ion-item>

  <span class="danger-text" padding *ngIf="sps.controls['entity_type'].errors && sps.controls['entity_type'].dirty">
    Gender is required.
  </span>

  <ion-item hidden>
    <ion-label>Profession</ion-label>
    <ion-select formControlName="entity_scope">
      <ion-option *ngFor="let scope of entityScopes" value="{{scope}}">{{scope}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>SSN (or ITIN)</ion-label>
    <ion-input formControlName="ssn" (keyup)="formatSSN()" type="password"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="sps.controls['ssn'].errors && sps.controls['ssn'].dirty">
    SSN (or ITIN) must contain 9 digits.
  </span>


  <ion-item class="no-border">
    <ion-label>Government ID</ion-label>
  </ion-item>

  <p padding ion-text color="grey" text-left>
    Please upload a copy of your government ID. File types allowed: pdf, jpg, png.
  </p>

  <ion-item *ngIf="plt.is('mobileweb') || plt.is('core')">
    <input type="file" (change)="imageFileHandler($event)" />
  </ion-item>

  <ion-row margin *ngIf="plt.is('mobile') && !plt.is('mobileweb')">

    <a ion-button>
      <ion-icon (click)="takePicture()" name="camera"></ion-icon>
    </a>
    <div margin-left>
      <ion-icon style="font-size:50px; color:green" name="checkmark" *ngIf="sps.value['govt_id']"></ion-icon>
      <ion-icon style="font-size:50px; color:red" name="close" *ngIf="!sps.value['govt_id']"></ion-icon>
    </div>

  </ion-row>

  <ng-content select=".tos"></ng-content>

  <div text-center margin-top>
    <button class="big-button" ion-button color="secondary">
      Next
    </button>
  </div>

</form>
