<div class="backdrop" (click)="closeModal($event)">
  <ion-card class="access-card">
    <ion-card-header text-center>
      <span ion-text color="primary">Onward Access</span>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row padding>
          <span text-center ion-text color="grey" class="mx-auto">
            Please enter your UNIQUE EMPLOYER CODE to access Onward Financial.</span>
        </ion-row>
        <ion-row padding>
          <ion-input class="big-button mx-auto grey-bg" [(ngModel)]="referralCode"></ion-input>
        </ion-row>
        <ion-row padding>
          <button class="big-button mx-auto" ion-button color="secondary" (click)="submitReferralCode()">Enter</button>
        </ion-row>
        <ion-row padding>
          <span text-center ion-text color="grey" class="mx-auto">
            No Employer Code? Enter your employer's information
            <a (click)="NavigateToEmployerRequest()" ion-text color="primary">HERE</a>
            to encourage them to offer Onward.
          </span>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>