.backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.grey-bg {
  background-color: #ddd;
}

.grey-bg input.text-input {
  text-align: center;
  color: color($colors, primary);
}

access {
  a {
    text-decoration: underline;
  }
}

.access-card {
  max-width: 500px;
  margin: auto;
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
  .modal-wrapper {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
