<ion-header>
  <onward-header active="true"></onward-header>
</ion-header>

<ion-content>
  <div text-center>
    <h2 padding ion-text color="title">Dashboard</h2>
  </div>
  <hr class="primary-edges">
  <section text-center>
    <ion-grid>
      <ion-row>
        <ion-col (click)="goToProfile()">
          <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Onward-Dashboard-and-Home" transform="translate(-43.000000, -173.000000)">
                <g id="Group-271" transform="translate(0.000000, -0.039000)">
                  <path d="M58.1177,183.2159 C57.7337,183.0239 57.2947,183.0509 56.9107,183.2979 C55.9507,183.9019 54.8527,184.2309 53.6737,184.2309 C52.4927,184.2309 51.3957,183.9019 50.4357,183.2979 C50.0787,183.0789 49.6127,183.0239 49.2287,183.2159 C46.3747,184.6699 44.2347,187.4959 43.4397,190.8979 C43.0827,192.3799 44.0977,193.8339 45.4967,193.8339 L61.8217,193.8339 C63.1937,193.8339 64.2087,192.3799 63.8797,190.8979 C63.1117,187.4959 60.9717,184.6699 58.1177,183.2159"
                    id="Fill-267" fill="#34C6E9"></path>
                  <path d="M58.0904,178.0578 C58.0904,180.4718 56.1144,182.4478 53.7004,182.4478 C51.2864,182.4478 49.3104,180.4718 49.3104,178.0578 C49.3104,175.6438 51.2864,173.6678 53.7004,173.6678 C56.1144,173.6678 58.0904,175.6438 58.0904,178.0578"
                    id="Fill-268" fill="#00D797"></path>
                </g>
              </g>
            </g>
          </svg>
          <div ion-text color="primary">My Profile</div>
        </ion-col>
        <ion-col (click)="goToAccount()">
          <svg width="22px" height="21px" viewBox="0 0 22 21" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Onward-Dashboard-and-Home" transform="translate(-117.000000, -172.000000)">
                <g id="Group-287" transform="translate(0.000000, -0.039000)">
                  <path d="M132.3365,191.8591 L132.3365,192.7891 L117.4595,192.7891 L117.4595,191.8591 C117.4995,188.6681 118.2075,188.2091 122.8985,186.2041 C121.8645,185.1031 121.1785,183.2781 121.1785,181.6311 C121.1785,179.0631 122.8435,177.9121 124.8975,177.9121 C126.9515,177.9121 128.6165,179.0631 128.6165,181.6311 C128.6165,183.2781 127.9305,185.1031 126.8975,186.2041 C131.5875,188.2091 132.2945,188.6681 132.3325,191.8591 L132.3365,191.8591 Z"
                    id="Fill-272" fill="#34C6E9"></path>
                  <path d="M133.0621,189.8861 L137.5981,189.8861 C137.8981,189.8861 138.1421,189.6421 138.1421,189.3421 L138.1421,172.6511 C138.1421,172.3501 137.8981,172.1061 137.5981,172.1061 L123.4471,172.1061 C123.1461,172.1061 122.9021,172.3501 122.9021,172.6511 L122.9021,177.5491 L123.6281,177.1901 L123.6281,173.3761 C123.6281,173.0761 123.6901,173.0141 123.9911,173.0141 L137.0531,173.0141 C137.3541,173.0141 137.4161,173.0761 137.4161,173.3761 L137.4161,188.7971 C137.4161,189.0981 137.3541,189.1601 137.0531,189.1601 L133.0621,189.1601 L133.0621,189.8861 Z"
                    id="Fill-274" fill="#00D797"></path>
                  <polygon id="Fill-276" fill="#00D797" points="126.168 176.097 133.788 176.097 133.788 174.646 126.168 174.646"></polygon>
                  <polygon id="Fill-278" fill="#00D797" points="129.071 179 133.788 179 133.788 177.549 129.071 177.549"></polygon>
                  <polygon id="Fill-279" fill="#00D797" points="134.514 179 136.328 179 136.328 177.549 134.514 177.549"></polygon>
                  <polygon id="Fill-280" fill="#00D797" points="129.797 181.903 133.788 181.903 133.788 180.452 129.797 180.452"></polygon>
                  <polygon id="Fill-281" fill="#00D797" points="134.514 181.903 136.328 181.903 136.328 180.452 134.514 180.452"></polygon>
                  <polygon id="Fill-282" fill="#00D797" points="129.434 184.806 133.788 184.806 133.788 183.355 129.434 183.355"></polygon>
                  <polygon id="Fill-283" fill="#00D797" points="134.514 184.806 136.328 184.806 136.328 183.355 134.514 183.355"></polygon>
                  <polygon id="Fill-284" fill="#00D797" points="131.248 187.709 133.788 187.709 133.788 186.258 131.248 186.258"></polygon>
                  <polygon id="Fill-285" fill="#00D797" points="134.514 187.709 136.328 187.709 136.328 186.258 134.514 186.258"></polygon>
                  <polygon id="Fill-286" fill="#00D797" points="134.514 176.097 136.328 176.097 136.328 174.646 134.514 174.646"></polygon>
                </g>
              </g>
            </g>
          </svg>
          <div ion-text color="primary">My Account</div>
        </ion-col>
        <ion-col (click)="signOut()">
          <svg width="26px" height="19px" viewBox="0 0 26 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Onward-Dashboard-and-Home" transform="translate(-180.000000, -174.000000)" fill="#050A0A">
                <g id="Group-271" transform="translate(0.000000, -0.039000)">
                  <path d="M201.2462,182.6133 L188.0652,182.6133 C187.4372,182.6133 186.9282,183.1223 186.9282,183.7513 C186.9282,184.3793 187.4372,184.8883 188.0652,184.8883 L201.2462,184.8883 L199.7752,186.3593 C199.3312,186.8033 199.3312,187.5243 199.7752,187.9683 C200.2192,188.4123 200.9402,188.4123 201.3842,187.9683 L204.7972,184.5563 C204.8242,184.5293 204.8482,184.5013 204.8722,184.4723 C204.8772,184.4653 204.8832,184.4583 204.8882,184.4513 C204.9062,184.4293 204.9232,184.4063 204.9382,184.3833 C204.9432,184.3763 204.9462,184.3693 204.9512,184.3623 C204.9672,184.3383 204.9822,184.3133 204.9962,184.2873 C204.9982,184.2833 205.0002,184.2773 205.0032,184.2723 C205.0172,184.2443 205.0322,184.2163 205.0432,184.1873 C205.0452,184.1833 205.0462,184.1803 205.0472,184.1763 C205.0592,184.1453 205.0712,184.1143 205.0812,184.0823 C205.0822,184.0783 205.0832,184.0743 205.0842,184.0703 C205.0932,184.0383 205.1012,184.0073 205.1082,183.9743 C205.1102,183.9653 205.1112,183.9553 205.1132,183.9453 C205.1182,183.9183 205.1222,183.8913 205.1242,183.8643 C205.1282,183.8273 205.1302,183.7893 205.1302,183.7513 C205.1302,183.7123 205.1282,183.6753 205.1242,183.6373 C205.1222,183.6093 205.1172,183.5823 205.1132,183.5553 C205.1112,183.5453 205.1102,183.5363 205.1082,183.5273 C205.1012,183.4943 205.0932,183.4623 205.0842,183.4303 C205.0832,183.4273 205.0822,183.4233 205.0812,183.4193 C205.0712,183.3873 205.0592,183.3553 205.0472,183.3253 C205.0462,183.3213 205.0452,183.3183 205.0432,183.3143 C205.0322,183.2853 205.0172,183.2573 205.0032,183.2293 C205.0002,183.2243 204.9982,183.2193 204.9962,183.2143 C204.9822,183.1883 204.9662,183.1633 204.9512,183.1393 C204.9462,183.1323 204.9432,183.1253 204.9382,183.1183 C204.9232,183.0953 204.9052,183.0733 204.8882,183.0503 C204.8832,183.0433 204.8772,183.0353 204.8722,183.0293 C204.8482,183.0003 204.8242,182.9723 204.7972,182.9463 L201.3842,179.5333 C201.1622,179.3113 200.8712,179.2003 200.5792,179.2003 C200.2882,179.2003 199.9972,179.3113 199.7752,179.5333 C199.3312,179.9773 199.3312,180.6983 199.7752,181.1423 L201.2462,182.6133 Z"
                    id="Fill-269"></path>
                  <path d="M189.4078,193.0572 C192.5128,193.0572 195.4028,191.5162 197.1368,188.9362 C197.4868,188.4152 197.3488,187.7082 196.8268,187.3572 C196.3048,187.0072 195.5988,187.1452 195.2478,187.6672 C193.9378,189.6172 191.7548,190.7822 189.4078,190.7822 C185.5318,190.7822 182.3768,187.6272 182.3768,183.7512 C182.3768,179.8742 185.5318,176.7202 189.4078,176.7202 C191.7468,176.7202 193.9268,177.8792 195.2388,179.8202 C195.5908,180.3412 196.2978,180.4782 196.8188,180.1262 C197.3388,179.7742 197.4758,179.0672 197.1238,178.5472 C195.3888,175.9782 192.5038,174.4442 189.4078,174.4442 C184.2768,174.4442 180.1018,178.6192 180.1018,183.7512 C180.1018,188.8822 184.2768,193.0572 189.4078,193.0572"
                    id="Fill-270"></path>
                </g>
              </g>
            </g>
          </svg>
          <div>Log Out</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <hr class="primary-edges">
  <section padding>
    <ion-grid padding>
      <ion-row (click)="goToSaving()" margin ion-text color="grey">
        <div class="custom-icons">
          <svg xmlns="http://www.w3.org/2000/svg">
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-1" d="M13,7l-.55-.17a.25.25,0,0,1-.15-.15,3.75,3.75,0,0,0-.87-1.45h0a4.66,4.66,0,0,0,.12-1.11c0-.49-.11-.79-.31-.89S10.77,3,9,3.81l-.12.07L8.54,3.8h0a2.82,2.82,0,0,0,.24-1,.21.21,0,0,0-.19-.2.19.19,0,0,0-.2.19,2.33,2.33,0,0,1-.67,1.51,2.22,2.22,0,0,1-.83.53,5.17,5.17,0,0,0-1.57,0,2.29,2.29,0,0,1-1.5-2.15,2.26,2.26,0,0,1,.67-1.61A2.29,2.29,0,0,1,6.07.39a2.26,2.26,0,0,1,1.61.67,2.29,2.29,0,0,1,.43.59.19.19,0,0,0,.26.08.19.19,0,0,0,.09-.26A3,3,0,0,0,8,.78,2.69,2.69,0,0,0,6.07,0,2.67,2.67,0,0,0,4.18,4.57a2.4,2.4,0,0,0,.47.37h0l-.37.11a.2.2,0,0,0-.12.25.21.21,0,0,0,.25.12,5.21,5.21,0,0,1,3.31,0h.07A.19.19,0,0,0,8,5.3a.19.19,0,0,0-.12-.25l-.36-.11h0A3.18,3.18,0,0,0,8,4.57a2.72,2.72,0,0,0,.34-.42l.16,0,.21.05v0a2.4,2.4,0,0,0,0,1.2,1.47,1.47,0,0,0,.52.73,1.68,1.68,0,0,0,1,.3,1.29,1.29,0,0,0,.62-.14,1.24,1.24,0,0,0,.46-.66l.16.21a3.28,3.28,0,0,1,.47.91.61.61,0,0,0,.4.41l.55.18a.35.35,0,0,1,.24.33v.91a.35.35,0,0,1-.24.33l-.89.29a.6.6,0,0,0-.34.27A3.89,3.89,0,0,1,10,11a.31.31,0,0,0-.16.21l-.28,1.51a.1.1,0,0,1-.09.07H8.51a.08.08,0,0,1-.08-.07l-.16-.83a.31.31,0,0,0-.35-.25,8.25,8.25,0,0,1-1.22.09,8.72,8.72,0,0,1-.9-.05.31.31,0,0,0-.34.25l-.15.79a.08.08,0,0,1-.08.07H4.3a.1.1,0,0,1-.09-.07l-.27-1.42a.36.36,0,0,0-.16-.22A3.45,3.45,0,0,1,1.87,7.87,3.85,3.85,0,0,1,2.34,6,3.55,3.55,0,0,1,3.62,4.71a.2.2,0,0,0,.07-.27.21.21,0,0,0-.27-.07A3.73,3.73,0,0,0,1.53,7.16H1.47a.9.9,0,0,0-.07-.39.8.8,0,0,0-.59-.52.54.54,0,0,0-.51.23A.5.5,0,0,0,.2,7,1,1,0,0,0,1,7.47l0,0a1,1,0,0,1-.73.39.2.2,0,0,0-.2.2H0a.22.22,0,0,0,.2.21h0a1.28,1.28,0,0,0,1-.55,1,1,0,0,0,.14-.24l.11,0h0c0,.1,0,.21,0,.32A4,4,0,0,0,2.06,10a4,4,0,0,0,1.5,1.39l.27,1.38a.47.47,0,0,0,.47.39h.93a.48.48,0,0,0,.47-.39l.13-.71a8.19,8.19,0,0,0,.87,0,8,8,0,0,0,1.2-.08L8,12.8a.48.48,0,0,0,.47.39h.93a.47.47,0,0,0,.47-.39l.28-1.46a4.31,4.31,0,0,0,1.75-1.62.23.23,0,0,1,.12-.1L13,9.34a.73.73,0,0,0,.51-.71V7.72A.74.74,0,0,0,13,7ZM11.08,4.68A2.17,2.17,0,0,1,10.6,6a1.22,1.22,0,0,1-1.17-.14,1.41,1.41,0,0,1-.38-1.53h0a.21.21,0,0,1,.13-.16,5.73,5.73,0,0,1,1.76-.6H11A2.11,2.11,0,0,1,11.08,4.68ZM.55,6.86s0-.11.06-.15.09-.08.12-.08h0A.43.43,0,0,1,1,6.91a1.27,1.27,0,0,1,0,.18A.87.87,0,0,1,.55,6.86Z" />
              </g>
            </g>
          </svg>
        </div>
        <div>Save</div>
      </ion-row>
      <ion-row (click)="goToGoal()" margin ion-text color="grey">
        <div class="custom-icons">
          <ion-icon name="add"></ion-icon>
        </div>
        <div>New Goal</div>
      </ion-row>
      <ion-row margin ion-text color="danger" hidden>
        <div class="custom-icons"></div>
        <div>Request a loan</div>
      </ion-row>
      <ion-row (click)="goToLearn()" margin ion-text color="grey">
        <div class="custom-icons">
          <svg xmlns="http://www.w3.org/2000/svg">
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-1" d="M5,2.12A2.84,2.84,0,0,0,2.17,4.94,3.21,3.21,0,0,0,3.51,7.5v2a.15.15,0,0,0,0,.07v0l.71,1a.19.19,0,0,0,.16.09H5.56a.22.22,0,0,0,.17-.09l.7-1v0a.14.14,0,0,0,0-.07v-2A3.2,3.2,0,0,0,7.79,4.94,2.83,2.83,0,0,0,5,2.12Zm.48,8.26h-1l-.44-.64H5.9Zm.61-1H3.91V8.81H6.08Zm.09-2.11a.2.2,0,0,0-.09.17v1H3.91v-1a.22.22,0,0,0-.09-.17A2.76,2.76,0,0,1,2.58,4.94a2.42,2.42,0,0,1,4.83,0A2.82,2.82,0,0,1,6.17,7.23Z" />
                <path class="cls-1" d="M5.07,3a.2.2,0,0,0,0,.4,1.51,1.51,0,0,1,1.51,1.5.19.19,0,0,0,.19.2.19.19,0,0,0,.2-.2A1.9,1.9,0,0,0,5.07,3Z" />
                <path class="cls-1" d="M1.84,4.93a.2.2,0,0,0-.2-.2H.2a.2.2,0,1,0,0,.4H1.64a.2.2,0,0,0,.2-.2Z" />
                <path class="cls-1" d="M9.78,4.73H8.35a.2.2,0,1,0,0,.4H9.78a.2.2,0,0,0,0-.4Z" />
                <path class="cls-1" d="M2.48,7.16l-1,1a.19.19,0,0,0,0,.28.2.2,0,0,0,.28,0l0,0,1-1a.2.2,0,0,0,0-.28.2.2,0,0,0-.28,0l0,0Z" />
                <path class="cls-1" d="M7.36,2.76a.2.2,0,0,0,.15-.06l1-1a.2.2,0,0,0,0-.28.19.19,0,0,0-.26,0l-1,1a.21.21,0,0,0,0,.28.2.2,0,0,0,.15.06Z" />
                <path class="cls-1" d="M7.51,7.16a.22.22,0,0,0-.29,0,.2.2,0,0,0,0,.28l0,0,1,1a.2.2,0,0,0,.33-.23l0,0Z" />
                <path class="cls-1" d="M2.48,2.7a.2.2,0,0,0,.28,0,.21.21,0,0,0,0-.26l-1-1a.2.2,0,0,0-.28,0,.19.19,0,0,0,0,.26Z" />
                <path class="cls-1" d="M5,1.85a.2.2,0,0,0,.2-.2V.2a.2.2,0,1,0-.4,0V1.64a.21.21,0,0,0,.2.21Z" />
              </g>
            </g>
          </svg></div>
        <div>Learn</div>
      </ion-row>
      <ion-row (click)="goToHelp()" margin ion-text color="grey">
        <div class="custom-icons">
          <svg xmlns="http://www.w3.org/2000/svg">
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-1" d="M8,2.25a.87.87,0,0,1-.4.65c-.07.05-.18.15-.18.19a.26.26,0,0,1-.26.25h0a.25.25,0,0,1-.26-.25.77.77,0,0,1,.36-.59c.13-.11.22-.18.22-.25A.26.26,0,0,0,7.23,2,.26.26,0,0,0,7,2.25a.26.26,0,0,1-.26.26.26.26,0,0,1-.26-.26.77.77,0,0,1,.77-.78A.78.78,0,0,1,8,2.25ZM7.17,3.58a.26.26,0,0,0-.25.26h0a.25.25,0,0,0,.25.25.25.25,0,0,0,.26-.26.26.26,0,0,0-.26-.26ZM1.94,5.39a.26.26,0,0,0,0,.52H2a.26.26,0,0,0,0-.52Zm.91,0a.26.26,0,0,0,0,.52h0a.26.26,0,0,0,0-.52Zm7.62-4.14V4.17A1.25,1.25,0,0,1,9.22,5.42H5.57l-.13.11-.07.06-1,.87a.26.26,0,0,1-.28,0A.27.27,0,0,1,4,6.27V3.52H1.26a.74.74,0,0,0-.74.74V7.18a.73.73,0,0,0,.74.72H5A.28.28,0,0,1,5.19,8L6,8.69V6.22A.26.26,0,0,1,6.23,6a.26.26,0,0,1,.26.26V9.28a.25.25,0,0,1-.16.23.16.16,0,0,1-.1,0,.23.23,0,0,1-.17-.07l-1.14-1H1.26A1.25,1.25,0,0,1,0,7.18V4.26A1.26,1.26,0,0,1,1.26,3H4V1.25A1.26,1.26,0,0,1,5.24,0h4a1.25,1.25,0,0,1,1.25,1.25Zm-.52,0A.72.72,0,0,0,9.22.52h-4a.74.74,0,0,0-.74.73V5.68L5,5.21l.07-.06A.65.65,0,0,1,5.7,4.9H9.22A.73.73,0,0,0,10,4.17Z" />
              </g>
            </g>
          </svg>
        </div>
        <div>Get Help</div>
      </ion-row>
      <ion-row (click)="goToWithdrawal()" margin ion-text color="grey">
        <div class="custom-icons">
          <svg xmlns="http://www.w3.org/2000/svg">
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-1" d="M11.31,2.92a.18.18,0,0,1-.18.17A.18.18,0,0,1,11,2.92V.35H.35v3.3H1.43a.18.18,0,0,1,0,.36H.18A.18.18,0,0,1,0,3.83V.18A.18.18,0,0,1,.18,0h11a.18.18,0,0,1,.18.18ZM9.88,4h1.25a.18.18,0,0,0,0-.36H9.88a.18.18,0,0,0,0,.36Z" />
                <path class="cls-1" d="M1.77,2.18A.18.18,0,0,1,1.6,2a.18.18,0,0,1,.17-.17H9.53A.18.18,0,0,1,9.71,2a.18.18,0,0,1-.18.18Z" />
                <path class="cls-1" d="M3.83,2.74A.18.18,0,0,1,4,2.92a.18.18,0,0,1-.18.17H2.41v3.3H8.9V3.09H8.28a.18.18,0,0,1-.18-.17.18.18,0,0,1,.18-.18h.8a.17.17,0,0,1,.17.18V6.57a.16.16,0,0,1-.17.17H2.23a.17.17,0,0,1-.18-.17V2.92a.18.18,0,0,1,.18-.18Zm3.65,0H4.63a.18.18,0,0,0-.18.18.18.18,0,0,0,.18.17H7.48a.18.18,0,0,0,.18-.17.18.18,0,0,0-.18-.18Z" />
                <path class="cls-1" d="M2.23,7.55a.19.19,0,0,1-.18-.18.18.18,0,0,1,.18-.18H9.08a.18.18,0,0,1,0,.36Z" />
                <path class="cls-1" d="M2.23,8.34a.18.18,0,0,1-.18-.17A.18.18,0,0,1,2.23,8H9.08a.18.18,0,0,1,.18.18.18.18,0,0,1-.18.17Z" />
                <path class="cls-1" d="M3.65,2.92a.18.18,0,1,1,.36,0A1.65,1.65,0,0,0,6.82,4.08h0A1.63,1.63,0,0,0,7.3,2.92a.18.18,0,0,1,.36,0,2,2,0,0,1-2,2,2,2,0,0,1-1.42-.59,2,2,0,0,1-.59-1.41Z" />
                <path class="cls-1" d="M2.23,5.38a.18.18,0,0,1,0-.36,1.52,1.52,0,0,1,1.09.46,1.52,1.52,0,0,1,.46,1.09.18.18,0,0,1-.36,0,1.15,1.15,0,0,0-.35-.84,1.15,1.15,0,0,0-.84-.35Z" />
                <path class="cls-1" d="M9.08,5a.18.18,0,1,1,0,.36,1.19,1.19,0,0,0-.84.34h0a1.15,1.15,0,0,0-.35.84.18.18,0,0,1-.36,0A1.49,1.49,0,0,1,8,5.48H8A1.53,1.53,0,0,1,9.08,5Z" />
              </g>
            </g>
          </svg>
        </div>
        <div>New Withdrawal</div>
      </ion-row>
      <ion-row (click)="goToLegal()" margin ion-text color="grey">
        <div class="custom-icons">
          <ion-icon name="copy"></ion-icon>
        </div>
        <div>Legal</div>
      </ion-row>
    </ion-grid>
  </section>

</ion-content>
