<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h2 ion-text color="title" margin>Legal</h2>
  <h4 ion-text color="grey" margin-top>Agreements</h4>

  <section text-left>
    <ion-grid padding>
      <ion-row margin>
        <a (click)="link('https://getonward.org/terms-of-service')">Onward Terms of Service</a>
      </ion-row>
      <ion-row margin>
        <a (click)="link('https://getonward.org/private-policy')">Onward Privacy Policy</a>
      </ion-row>
      <ion-row margin>
        <a (click)="link('https://synapsefi.com/evolve-bank-deposit-agreement')">Evolve Bank Deposit Agreement</a>
      </ion-row>
      <ion-row margin>
        <a (click)="link('https://synapsefi.com/tos-evolve')">Evolve Bank Terms of Service</a>
      </ion-row>
      <ion-row margin>
        <a (click)="link('https://synapsefi.com/privacy')">Technology Provider Privacy Policy</a>
      </ion-row>
    </ion-grid>
  </section>

  <button margin ion-button color="secondary" class="secondary big-button" (click)="goToHome()">
    Home
  </button>



</ion-content>
