<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h2 ion-text color="title" magin-top padding>Goal Created!</h2>

  <h3 ion-text color="secondary" margin>You're now on your way to a healthy financial life</h3>

  <div>
    <div><img src="assets/img/success.png" alt="Success"></div>
  </div>

  <h2 ion-text color="grey">Goal Set!</h2>

  <goal [isButton]="false" [goal]="goalData"></goal>

  <button margin ion-button color="secondary" class="secondary big-button" (click)="goToHomePage()">
    FINISHED
  </button>

</ion-content>