page-profile {

  ion-item.item.item-block.static>div.item-inner {
    border-color: #878787;
  }

  ion-item.item.item-block>div.item-inner {
    border-color: #878787;
  }

  p {
    font-size: 1em;
  }

  .end-margin {
    margin-top: 50px;
  }

  .clear {
    background-color: transparent;
    &:hover,
    &:active {
      color: color($colors, primary)
    }
  }
}
