<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding>

  <div padding text-center>
    <h1 ion-text color="title">My Profile</h1>
    <h5 margin-top>{{legal_name()}}</h5>
  </div>

  <ion-list padding-right>

    <h3 ion-text padding color="grey">Update my profile</h3>

    <p margin-horizontal ion-text color="grey">
      Name change is restricted unless it is a legal name change.
      If you have legally changed your name, submit
      <a>your name change</a> to Onward's legal team to approve.
    </p>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" value="{{userData?.email}}" (ionBlur)="editEmail($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Mobile Phone No.</ion-label>
      <ion-input value="{{userData?.phone_number}}" (keyup)="formatPhone()" (ionBlur)="editPhone($event)" type="tel"></ion-input>
    </ion-item>

  </ion-list>

  <div padding class="end-margin">
    <ion-row>
      <button class="clear" (click)="goToPasswordReset()">
        <h5>Reset password</h5>
      </button>
    </ion-row>
    <ion-row margin-top>
      <button class="clear" (click)="goToCloseAccount()">
        <h5>Close Account</h5>
      </button>
    </ion-row>
  </div>


</ion-content>
