<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h3 ion-text color="secondary" margin>Withdrawal</h3>

  <div margin-vertical>
    <img style="width: 30%;" src="assets/img/withdraw.png" alt="Withdraw">
  </div>

  <h2 ion-text color="grey">Withdrawal Sent!</h2>

  <ion-card *ngIf="data" class="onward-box">
    <ion-card-header>
      Transaction Sent
    </ion-card-header>
    <ion-card-content text-left>
      <p ion-text color="primary">Amount: <b>{{data.amount}}</b></p>
      <p ion-text color="primary">Connected Account: <b>{{data.node.info.nickname}}</b></p>
      <p ion-text color="primary">Reason for Transfer: <b>{{data.reason}}</b></p>
    </ion-card-content>
  </ion-card>

  <button margin ion-button color="secondary" class="secondary big-button" (click)="goToHomePage()">
    FINISHED
  </button>


  <!--<button ion-button (click)="confirmTransaction()">Confirm</button>-->
</ion-content>