<form [formGroup]="withdrawal" (ngSubmit)="submitForm()">

  <ion-item>
    <ion-label floating>Amount</ion-label>
    <ion-input (blur)="formatCurrency()" formControlName="amount" type="number" [max]="max"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="withdrawal.controls['amount'].errors && withdrawal.controls['amount'].dirty">
    Amount is required.
  </span>

  <ion-item>
    <ion-label floating>Reason for withdrawal</ion-label>
    <ion-input formControlName="reason" type="text"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="withdrawal.controls['reason'].errors && withdrawal.controls['reason'].dirty">
    Reason for withdrawal is required.
  </span>

  <button margin-vertical ion-button class="mx-auto big-button" color="secondary">
    NEXT
  </button>

</form>