<ion-header>
  <onward-header [active]="false"></onward-header>
</ion-header>

<ion-content padding>

  <div padding>
    <onward-branding></onward-branding>
    <h2 ion-text color="primary">SIGN UP</h2>
    <p ion-text color="grey">You are on your way to a better financial future!</p>
  </div>
  <sps-registration-form (onSubmit)="spsRegistration($event)">

    <div class="tos">
      <p padding ion-text color="grey" text-left>
        Onward does not store this information as the banks
        are in charge of opening your savings account. We only
        need this information in order to verify your identity.
        This will not affect your credit score.
      </p>

      <div class="no-wrap">
        <div float-left padding-horizontal><input class="checkbox" type="checkbox" [(ngModel)]="tos"></div>
        <p text-left>
          <span>By signing up, you agree to Onwards</span><br>
          <span><a (click)="tosClick()" >Terms of Service</a> & <a (click)="ppClick()" >Privacy Policy</a></span>
        </p>
      </div>
    </div>

  </sps-registration-form>


</ion-content>