page-synapse-sign-up {

    p{
        font-size: 0.750em;
    }

    .no-wrap div ion-label {
        font-size: 0.750em;
        white-space: normal;
    }

    .checkbox{
        width: 30px;
        height: 30px;
        border: solid 2px grey;
    }

}
