<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content text-center>
  <div padding>

    <h2 margin text-left ion-text color="primary">Select</h2>

    <div margin-vertical>
      <img style="width: 30%;" src="assets/img/savings.png" alt="Savings">
    </div>

    <p padding ion-text color="grey">
      Start Saving: details
      Set Saving: details
    </p>

    <button margin-top class="big-button" (click)='goToStartSaving()' ion-button color="secondary">
      START SAVING NOW
    </button>
    <button margin-top class="big-button" (click)='goToCreateGoal()' ion-button color="secondary">
      SET SAVING GOAL
    </button>

  </div>

</ion-content>
