<div class="onward-box shadow">

  <div text-right>
    <button (click)="remove()"  ion-button icon-only clear>
      <ion-icon name="trash"></ion-icon>
    </button>
  </div>
  <p style="margin-top: 0;" ion-text color="grey" padding-horizontal>
    {{tip.content}}
  </p>

</div>
