page-splash {
  ion-content {
    background: linear-gradient(135deg, #62cf95, #00aae5);
  }

  .splash-button {
    width: 90%;
    max-width: 300px;
  }

  .top-abstract {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  .bot-abstract {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
  }

  .splash-text {
    font-size: 1.25em;
  }

  .splash-logo {
    width: 100%;
    max-width: 450px;
  }

}
