<ion-content padding>

  <div class="top-abstract">
    <svg width="157px" height="213px" viewBox="0 0 157 213" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <polygon id="path-1" points="0 0.039 156.163896 0.039 156.163896 212.953263 0 212.953263"></polygon>
        <polygon id="path-3" points="0.27049967 0.039 91.3816086 0.039 91.3816086 98.4871015 0.27049967 98.4871015"></polygon>
        <polygon id="path-5" points="0.6188 1.039 69.4448 1.039 69.4448 1.9013 0.6188 1.9013"></polygon>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="rgba(0,0,0,0.2)" fill-rule="evenodd">
        <g id="Onward-Account-Opening-User-Journey">
          <g id="Group-23" transform="translate(0.000000, -1.039000)">
            <g id="Group-22">
              <g id="Group-15" transform="translate(0.000000, 1.000000)">
                <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-14"></g>
                <path d="M-35.6171,144.8319 C-7.5761,206.9509 56.9929,232.2349 113.7709,196.7769 C140.1819,180.2829 155.6449,156.7519 156.1589,124.7889 C156.2929,116.4789 153.7559,114.0339 145.5559,113.9299 C135.3439,113.8009 125.1289,113.8239 114.9169,113.8929 C103.9839,113.9669 101.0429,116.6429 99.3949,127.6049 C97.8109,138.1399 93.5939,147.0419 84.2309,153.0259 C65.1099,165.2479 37.7089,160.7649 24.4679,142.4089 C8.7699,120.6479 9.4969,97.2509 19.8059,73.6549 C23.1929,65.9029 29.4789,60.1439 37.7649,57.7729 C45.3749,55.5939 47.9919,50.8439 47.9719,43.4579 C47.9449,32.9989 48.1219,22.5319 48.5509,12.0819 C48.7549,7.1189 47.8529,2.8229 44.1979,-0.6841 L32.2289,-0.6841 C32.4499,1.5969 30.5329,1.3779 29.2519,1.7699 C-4.4831,12.0859 -24.4051,36.1909 -36.5991,67.9079 C-36.5991,67.9079 -51.7471,109.1009 -35.6171,144.8319"
                  id="Fill-13" fill="rgba(0,0,0,0.1)" mask="url(#mask-2)"></path>
              </g>
              <g id="Group-18" transform="translate(65.000000, 1.000000)">
                <mask id="mask-4" fill="white">
                  <use xlink:href="#path-3"></use>
                </mask>
                <g id="Clip-17"></g>
                <path d="M79.4048,0.9013 C89.1008,4.7193 91.3548,7.7263 91.3648,17.2593 C91.3868,38.9293 91.3998,60.6003 91.3208,82.2703 C91.2778,94.1453 87.0588,98.2943 75.0278,98.4213 C66.3108,98.5123 57.5918,98.5073 48.8758,98.4163 C41.2808,98.3373 35.8418,93.4463 34.7188,85.9183 C32.0868,68.2813 25.9988,61.4593 9.0548,57.5783 C3.4288,56.2903 0.2838,53.2963 0.3078,47.3143 C0.3558,35.3593 0.4878,23.4003 0.2728,11.4483 C0.1688,5.6443 3.6058,2.4033 7.6268,-0.6847 L10.6188,-0.6847 C11.4508,-0.2117 12.2808,0.6683 13.1158,0.6733 C35.2118,0.8043 57.3088,0.8453 79.4048,0.9013"
                  id="Fill-16" fill="rgba(0,0,0,0.1)" mask="url(#mask-4)"></path>
              </g>
              <g id="Group-21" transform="translate(75.000000, 0.000000)">
                <mask id="mask-6" fill="white">
                  <use xlink:href="#path-5"></use>
                </mask>
                <g id="Clip-20"></g>
                <path d="M69.4048,1.9013 C47.3088,1.8453 25.2118,1.8043 3.1158,1.6733 C2.2808,1.6683 1.4508,0.7883 0.6188,0.3153 L69.4448,0.3153 C69.4318,0.8443 69.4178,1.3723 69.4048,1.9013"
                  id="Fill-19" fill="rgba(0,0,0,0.2)" mask="url(#mask-6)"></path>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>

  <ion-grid>
    <ion-row style="margin-top: 100px">
      <p class="white-text mx-auto splash-text">Welcome to</p>
    </ion-row>

    <img class="mx-auto splash-logo" src="assets/img/logo-colo-white-hr.png" alt="Onward Logo">

    <ion-row>
      <p class="white-text mx-auto splash-text">Your Financial Cushion</p>
    </ion-row>

    <ion-row style="margin-top: 100px">

      <button class="splash-button mx-auto" (click)="signupModal()" ion-button color="secondary">SIGN UP</button>
    </ion-row>
    <ion-row>
      <button class="splash-button mx-auto" (click)="goToLogin()" ion-button color="light">
        <span ion-text color="primary">
          <ion-icon name="log-in" padding-right></ion-icon><span>LOGIN</span>
        </span>
      </button>
    </ion-row>
  </ion-grid>

  <div class="bot-abstract">

    <svg width="148px" height="201px" viewBox="0 0 148 201" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <polygon id="path-1" points="0.609051961 0.9146 148.216 0.9146 148.216 201 0.609051961 201"></polygon>
        <polygon id="path-3" points="0.92939967 0.914 40.216 0.914 40.216 100.086187 0.92939967 100.086187"></polygon>
        <polygon id="path-5" points="0.2777 0.914 29.216 0.914 29.216 2.5 0.2777 2.5"></polygon>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Onward-Account-Opening-User-Journey" transform="translate(-95.000000, -325.000000)">
          <g id="Group-23" transform="translate(0.000000, -1.039000)">
            <g id="Group-12" transform="translate(95.000000, 326.000000)">
              <g id="Group-5">
                <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-4"></g>
                <path d="M8.0417,146.4306 C36.0827,208.5486 100.6517,233.8336 157.4297,198.3756 C183.8407,181.8816 199.3037,158.3506 199.8177,126.3876 C199.9517,118.0776 197.4147,115.6326 189.2147,115.5286 C179.0027,115.3996 168.7877,115.4226 158.5757,115.4916 C147.6427,115.5656 144.7017,118.2416 143.0537,129.2036 C141.4697,139.7386 137.2527,148.6406 127.8897,154.6246 C108.7687,166.8466 81.3677,162.3636 68.1267,144.0076 C52.4287,122.2466 53.1557,98.8496 63.4647,75.2526 C66.8517,67.5016 73.1377,61.7426 81.4237,59.3716 C89.0337,57.1926 91.6507,52.4426 91.6317,45.0566 C91.6037,34.5976 91.7807,24.1296 92.2097,13.6806 C92.4137,8.7176 91.5117,4.4216 87.8567,0.9146 L75.8877,0.9146 C76.1087,3.1956 74.1917,2.9766 72.9107,3.3686 C39.1757,13.6846 19.2537,37.7896 7.0597,69.5066 C7.0597,69.5066 -8.0883,110.6996 8.0417,146.4306"
                  id="Fill-3" fill="rgba(0,0,0,0.1)" mask="url(#mask-2)"></path>
              </g>
              <g id="Group-8" transform="translate(108.000000, 0.000000)">
                <mask id="mask-4" fill="white">
                  <use xlink:href="#path-3"></use>
                </mask>
                <g id="Clip-7"></g>
                <path d="M80.0637,2.5 C89.7597,6.318 92.0137,9.325 92.0237,18.858 C92.0457,40.528 92.0587,62.199 91.9797,83.869 C91.9367,95.744 87.7167,99.893 75.6857,100.02 C66.9697,100.112 58.2507,100.106 49.5347,100.015 C41.9397,99.936 36.5007,95.045 35.3777,87.517 C32.7457,69.88 26.6577,63.058 9.7137,59.177 C4.0877,57.889 0.9427,54.895 0.9667,48.913 C1.0147,36.958 1.1467,24.999 0.9317,13.047 C0.8277,7.243 4.2647,4.002 8.2857,0.914 L11.2777,0.914 C12.1097,1.387 12.9397,2.267 13.7747,2.272 C35.8707,2.403 57.9677,2.444 80.0637,2.5"
                  id="Fill-6" fill="rgba(0,0,0,0.1)" mask="url(#mask-4)"></path>
              </g>
              <g id="Group-11" transform="translate(119.000000, 0.000000)">
                <mask id="mask-6" fill="white">
                  <use xlink:href="#path-5"></use>
                </mask>
                <g id="Clip-10"></g>
                <path d="M69.0637,2.5 C46.9677,2.444 24.8707,2.403 2.7747,2.272 C1.9397,2.267 1.1097,1.387 0.2777,0.914 L69.1037,0.914 C69.0907,1.443 69.0767,1.971 69.0637,2.5"
                  id="Fill-9" fill="rgba(0,0,0,0.1)" mask="url(#mask-6)"></path>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>


</ion-content>