<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 ion-text color="title" margin-vertical>Request to Close Account</h1>
  <h3 ion-text color="grey" margin-vertical>Please tell us all the reasons you are leaving us.</h3>

  <ion-item margin-vertical>
    <ion-label floating>My Reasons</ion-label>
    <ion-textarea type="text" [(ngModel)]="reason"></ion-textarea>
  </ion-item>

  <div margin-vertical>
    <ion-row margin-vertical>
      <button (click)="closeRequest()" ion-button class="big-button mx-auto" color="secondary">
        SUBMIT REQUEST
      </button>
    </ion-row>

    <ion-row margin-vertical>
      <button (click)="goToProfile()" ion-button color="light" class="big-button mx-auto">
        <span ion-text color="primary">
          <ion-icon name="arrow-back" padding-right></ion-icon><span>BACK</span>
        </span>
      </button>
    </ion-row>
  </div>


</ion-content>





ENTER
BACK