<ion-header>
  <onward-header active="true"></onward-header>
</ion-header>

<ion-content text-center padding>

  <h1 ion-text color="title" padding>Home</h1>
  <hr class="primary-edges">

  <section>
    <div margin-top>
      <img src="assets/img/home/savings.png" alt="">
    </div>

    <h2 padding ion-text color="primary">My Financial Cushion</h2>

    <div class="home-status-box" *ngIf="userProvider.currentUser.sps">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div padding-vertical ion-text color="secondary" class="font-size-md">Savings</div>
            <div ion-text color="secondary" class="font-size-lg">${{getSavingsBalance()}}</div>
            <div padding-vertical ion-text color="grey">${{getDeductions()}} deduction per paycheck</div>
          </ion-col>
          <div class="v-line"></div>
          <ion-col>
            <div padding-vertical ion-text color="secondary" class="font-size-md">I Can Borrow</div>
            <div ion-text color="secondary" class="font-size-lg">$0</div>
            <div padding-vertical ion-text color="grey">$0 Owed</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col padding-vertical text-left>
          <button (click)="goToSaving()" ion-button class="white-button full-width">Save More</button>
        </ion-col>
        <ion-col padding-vertical text-right>
          <button ion-button class="white-button full-width" disabled>Request A Loan</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </section>

  <ion-grid text-center padding>
    <ion-row style="margin:auto">
      <svg width="53px" height="53px" viewBox="0 0 53 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Onward-Dashboard-and-Home" transform="translate(-17.000000, -500.000000)">
            <g id="Group-121" transform="translate(17.000000, 499.580000)">
              <path d="M0.1602,26.6257 C0.1602,40.9987 11.8112,52.6497 26.1842,52.6497 C40.5562,52.6497 52.2082,40.9987 52.2082,26.6257 C52.2082,12.2527 40.5562,0.6017 26.1842,0.6017 C11.8112,0.6017 0.1602,12.2527 0.1602,26.6257"
                id="Fill-99" fill="#00AAE5"></path>
              <path d="M33.5508,28.4639 L19.0378,28.4639 C15.8218,28.4639 13.2038,25.8459 13.2038,22.6299 C13.2038,19.4139 15.8218,16.7959 19.0378,16.7959 L33.5508,16.7959 C36.7668,16.7959 39.3848,19.4139 39.3848,22.6299 C39.3558,25.8739 36.7668,28.4639 33.5508,28.4639"
                id="Fill-101" fill="#FFFFFF"></path>
              <path d="M16.9316,24.4798 C16.4476,23.9958 16.1626,23.3418 16.1626,22.6298 C16.1626,21.9468 16.4196,21.2928 16.9316,20.7808 C17.4156,20.2678 18.0696,20.0118 18.7816,20.0118 C19.4646,20.0118 20.1186,20.2678 20.6316,20.7808 C20.8586,21.0078 20.7166,21.2928 20.6316,21.3778 C20.5456,21.4638 20.2896,21.6908 20.0336,21.3778 C19.6916,21.0368 19.2646,20.8658 18.8096,20.8658 C18.3266,20.8658 17.8996,21.0368 17.5856,21.3778 C17.2446,21.7198 17.0736,22.1468 17.0736,22.6018 C17.0736,23.0568 17.2726,23.5118 17.5856,23.8258 C17.9276,24.1668 18.3826,24.3378 18.8096,24.3378 C19.2086,24.3378 19.5776,24.1948 19.9196,23.9388 L19.9196,23.0858 L18.8386,23.0858 C18.6106,23.0858 18.4116,22.8858 18.4116,22.6588 C18.4116,22.4308 18.6106,22.2318 18.8386,22.2318 L20.3176,22.2318 C20.5456,22.2318 20.7446,22.4308 20.7446,22.6588 L20.7446,24.1948 C20.7446,24.3088 20.6876,24.4228 20.6316,24.5088 C20.1186,25.0208 19.4646,25.2768 18.7816,25.2768 C18.0986,25.2478 17.4436,24.9918 16.9316,24.4798"
                id="Fill-103" fill="#34C7EA"></path>
              <path d="M22.9648,22.6585 C22.9648,23.6265 23.7048,24.3945 24.5868,24.3945 C25.4978,24.3945 26.2088,23.6265 26.2088,22.6585 C26.2088,21.6905 25.4688,20.9225 24.5868,20.9225 C23.6758,20.8945 22.9648,21.6905 22.9648,22.6585 M22.0828,22.6585 C22.0828,21.2075 23.1928,20.0405 24.5868,20.0405 C25.9528,20.0405 27.0908,21.2075 27.0908,22.6585 C27.0908,24.1095 25.9528,25.2765 24.5868,25.2765 C23.1928,25.2485 22.0828,24.0815 22.0828,22.6585"
                id="Fill-105" fill="#34C7EA"></path>
              <path d="M30.7334,23.313 L30.0794,21.662 L29.4244,23.313 L30.7334,23.313 Z M32.2134,24.651 C32.2414,24.707 32.2414,24.764 32.2414,24.821 C32.2414,25.049 32.0714,25.248 31.8154,25.248 C31.6444,25.248 31.4734,25.134 31.4164,24.964 L31.0754,24.138 L29.0544,24.138 L28.7124,24.964 C28.6564,25.134 28.4854,25.248 28.3144,25.248 C28.0584,25.248 27.8874,25.021 27.8874,24.821 C27.8874,24.764 27.8874,24.707 27.9164,24.651 L29.6524,20.297 C29.7094,20.126 29.8794,20.012 30.0504,20.012 C30.2214,20.012 30.3924,20.126 30.4494,20.297 L32.2134,24.651 Z"
                id="Fill-107" fill="#34C7EA"></path>
              <path d="M34.0347,25.2482 C33.7787,25.2482 33.6077,25.0492 33.6077,24.8212 L33.6077,20.4672 C33.6077,20.2392 33.8067,20.0402 34.0347,20.0402 C34.2627,20.0402 34.4617,20.2392 34.4617,20.4672 L34.4617,24.3942 L35.9697,24.3942 C36.1977,24.3942 36.3967,24.5932 36.3967,24.8212 C36.3967,25.0492 36.1977,25.2482 35.9697,25.2482 L34.0347,25.2482 Z"
                id="Fill-109" fill="#34C7EA"></path>
              <path d="M29.5386,31.8218 C29.1406,31.8218 28.7986,31.9928 28.7986,32.3908 L28.7986,32.1348 C28.7986,31.7368 28.4856,31.5658 28.0586,31.5658 C27.6606,31.5658 27.3186,31.7368 27.3186,32.1348 L27.3186,31.8788 C27.3186,31.4808 27.0056,31.3098 26.5786,31.3098 C26.3796,31.3098 26.1806,31.3668 26.0666,31.4518 C25.9246,31.5368 25.8386,31.6798 25.8386,31.8788 L25.8386,28.3218 C25.8386,27.9228 25.5256,27.6098 25.1276,27.5818 C24.7286,27.5818 24.3876,27.9228 24.3876,28.3218 L24.3876,33.4728 C24.0456,32.7328 23.5906,32.1068 23.0216,31.8218 C22.7366,31.6798 22.3676,31.9358 22.2816,32.2488 C22.2536,32.3908 22.2536,32.5898 22.3676,32.7898 C22.3676,32.7898 23.1066,33.4438 23.0216,34.9518 C22.9936,36.4608 24.8146,38.1678 24.8146,38.1678 L29.6236,38.1678 L29.8516,37.1718 C30.1356,36.0338 30.2496,34.8388 30.2496,33.6718 L30.2496,32.3908 C30.2786,31.9928 29.9366,31.8218 29.5386,31.8218"
                id="Fill-111" fill="#DAF3FF"></path>
              <path d="M36.5674,28.2363 C36.2264,28.4643 36.0834,28.8053 36.3114,29.1183 L36.1694,28.8913 C35.9414,28.5493 35.5714,28.6063 35.2304,28.8343 C34.8884,29.0613 34.7464,29.4033 34.9734,29.7163 L34.8314,29.4883 C34.6044,29.1473 34.2344,29.2043 33.8924,29.4313 C33.7214,29.5453 33.6084,29.6873 33.5504,29.8303 C33.4944,29.9723 33.5224,30.1433 33.6364,30.3133 L31.5874,27.4113 C31.3594,27.0983 30.9044,27.0123 30.5914,27.2403 C30.2504,27.4683 30.1924,27.9513 30.4204,28.2643 L33.4084,32.4763 C32.6974,32.0783 31.9854,31.8223 31.3314,31.9073 C31.0184,31.9353 30.8764,32.3913 30.9894,32.6753 C31.0464,32.8183 31.1604,32.9603 31.3594,33.0743 C31.3594,33.0743 32.3554,33.1883 33.1524,34.4683 C33.9494,35.7493 36.4254,36.0623 36.4254,36.0623 L40.3234,33.2733 L39.9254,32.3343 C39.4704,31.2523 38.9004,30.2003 38.2174,29.2323 L37.4784,28.2083 C37.2504,27.9513 36.8804,28.0083 36.5674,28.2363"
                id="Fill-113" fill="#DAF3FF"></path>
              <path d="M20.2041,33.0172 C19.9761,32.6752 19.6351,32.5332 19.3221,32.7612 L19.5501,32.6192 C19.8911,32.3912 19.8341,32.0212 19.6061,31.6792 C19.3791,31.3382 19.0371,31.1962 18.7251,31.4232 L18.9521,31.2812 C19.2931,31.0532 19.2371,30.6832 19.0091,30.3422 C18.8951,30.1712 18.7531,30.0572 18.6111,30.0002 C18.4681,29.9442 18.2981,29.9722 18.1271,30.0862 L21.0291,28.0372 C21.3431,27.8092 21.4281,27.3542 21.2001,27.0412 C20.9731,26.6992 20.4891,26.6422 20.1761,26.8702 L15.8791,29.8302 C16.2771,29.1182 16.5331,28.4072 16.4481,27.7522 C16.4191,27.4392 15.9641,27.2972 15.6801,27.4112 C15.5371,27.4682 15.3951,27.5822 15.2811,27.7812 C15.2811,27.7812 15.1671,28.7772 13.8871,29.5742 C12.6061,30.3702 12.2931,32.8462 12.2931,32.8462 L15.0821,36.7452 L16.0211,36.3462 C17.1021,35.8912 18.1551,35.3222 19.1231,34.6392 L20.1471,33.8992 C20.4891,33.7002 20.4321,33.3582 20.2041,33.0172"
                id="Fill-115" fill="#DAF3FF"></path>
            </g>
          </g>
        </g>
      </svg>
      <h3 padding-horizontal ion-text color="primary">My Goals </h3>
      <a (click)="goToCreateGoal()" style="margin: auto;font-size: 3em;">
        <ion-icon ion-text color="primary" name="add-circle"></ion-icon>
      </a>
    </ion-row>
  </ion-grid>
  <goal margin [goal]='goal' *ngFor="let goal of savingsProvider.savings.getGoals()" (click)="goToGoal(goal['id'])"></goal>

  <ion-grid text-center padding>
    <ion-row style="margin:auto">
      <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Onward-Dashboard-and-Home" transform="translate(-17.000000, -919.000000)">
            <g id="Group-181" transform="translate(16.000000, 919.580000)">
              <path d="M1.1602,25.7921 C1.1602,39.9301 12.6212,51.3921 26.7602,51.3921 C40.8982,51.3921 52.3592,39.9301 52.3592,25.7921 C52.3592,11.6541 40.8982,0.1921 26.7602,0.1921 C12.6212,0.1921 1.1602,11.6541 1.1602,25.7921"
                id="Fill-143" fill="#00AAE5"></path>
              <path d="M30.1924,31.1742 C30.0274,31.2822 29.9294,31.4662 29.9304,31.6642 L29.9304,34.6242 L23.5954,34.6242 L23.5954,31.6292 C23.5964,31.4322 23.4974,31.2472 23.3334,31.1392 C21.1014,29.6482 19.7464,27.1552 19.7074,24.4722 C19.8194,20.5762 23.0684,17.5082 26.9654,17.6202 C30.7044,17.7272 33.7104,20.7332 33.8174,24.4722 C33.7844,27.1612 32.4284,29.6622 30.1924,31.1572 L30.1924,31.1742 Z M29.9304,37.3172 L23.5954,37.3172 L23.5954,35.7722 L29.9244,35.7722 L29.9304,37.3172 Z M28.1474,40.3712 L25.3724,40.3712 L24.1024,38.4822 L29.4114,38.4822 L28.1474,40.3712 Z M26.7594,16.2662 C22.2194,16.2692 18.5394,19.9492 18.5364,24.4892 C18.5774,27.4532 20.0194,30.2222 22.4234,31.9552 L22.4234,37.8942 C22.4254,37.9622 22.4394,38.0292 22.4644,38.0922 L22.4644,38.1392 C22.4744,38.1632 22.4864,38.1862 22.4994,38.2082 L24.5504,41.2622 C24.6594,41.4232 24.8404,41.5192 25.0344,41.5192 L28.4264,41.5192 C28.6204,41.5192 28.8014,41.4232 28.9104,41.2622 L30.9624,38.2082 C30.9754,38.1862 30.9864,38.1632 30.9964,38.1392 L30.9964,38.0922 C31.0214,38.0292 31.0354,37.9622 31.0374,37.8942 L31.0374,31.9552 C33.4424,30.2222 34.8844,27.4532 34.9244,24.4892 C34.9214,19.9722 31.2774,16.3012 26.7594,16.2662 Z"
                id="Fill-145" fill="#FFFFFF"></path>
              <path d="M26.9927,18.9061 C26.6707,18.9061 26.4097,19.1671 26.4097,19.4891 C26.4097,19.8111 26.6707,20.0721 26.9927,20.0721 C29.4147,20.0751 31.3777,22.0381 31.3817,24.4601 C31.3817,24.7821 31.6417,25.0431 31.9647,25.0431 C32.2857,25.0431 32.5467,24.7821 32.5467,24.4601 C32.5437,21.3941 30.0587,18.9091 26.9927,18.9061"
                id="Fill-147" fill="#FFFFFF"></path>
              <path d="M17.5513,24.4603 C17.5513,24.1383 17.2903,23.8773 16.9683,23.8773 L12.7723,23.8773 C12.4503,23.8773 12.1893,24.1383 12.1893,24.4603 C12.1893,24.7823 12.4503,25.0433 12.7723,25.0433 L16.9683,25.0433 C17.2903,25.0433 17.5513,24.7823 17.5513,24.4603"
                id="Fill-149" fill="#FFFFFF"></path>
              <path d="M36.5511,23.8775 C36.2291,23.8775 35.9681,24.1385 35.9681,24.4605 C35.9681,24.7825 36.2291,25.0435 36.5511,25.0435 L40.7471,25.0435 C41.0691,25.0435 41.3301,24.7825 41.3301,24.4605 C41.3301,24.1385 41.0691,23.8775 40.7471,23.8775 L36.5511,23.8775 Z"
                id="Fill-151" fill="#FFFFFF"></path>
              <path d="M19.4224,30.9703 L16.4434,33.9603 C16.1994,34.1693 16.1714,34.5373 16.3804,34.7823 C16.5894,35.0263 16.9574,35.0543 17.2024,34.8453 C17.2254,34.8253 17.2464,34.8043 17.2654,34.7823 L20.2444,31.8033 C20.4884,31.5943 20.5174,31.2263 20.3074,30.9813 C20.0984,30.7373 19.7304,30.7093 19.4854,30.9183 C19.4634,30.9383 19.4424,30.9593 19.4224,30.9813 L19.4224,30.9703 Z"
                id="Fill-153" fill="#FFFFFF"></path>
              <path d="M33.6836,18.1136 C33.8386,18.1146 33.9876,18.0536 34.0976,17.9446 L37.0756,14.9666 C37.2846,14.7216 37.2566,14.3536 37.0116,14.1446 C36.7936,13.9576 36.4716,13.9576 36.2536,14.1446 L33.2756,17.1226 C33.0466,17.3496 33.0456,17.7186 33.2716,17.9466 C33.3826,18.0586 33.5326,18.1206 33.6896,18.1196 L33.6836,18.1136 Z"
                id="Fill-155" fill="#FFFFFF"></path>
              <path d="M34.0972,30.9703 C33.8882,30.7253 33.5202,30.6973 33.2752,30.9063 C33.0312,31.1163 33.0022,31.4843 33.2122,31.7283 C33.2312,31.7513 33.2522,31.7723 33.2752,31.7923 L36.2532,34.7703 C36.4452,35.0293 36.8092,35.0833 37.0692,34.8923 C37.3272,34.7013 37.3822,34.3363 37.1912,34.0773 C37.1582,34.0333 37.1192,33.9933 37.0752,33.9603 L34.0972,30.9703 Z"
                id="Fill-157" fill="#FFFFFF"></path>
              <path d="M19.4224,17.9447 C19.6664,18.1537 20.0344,18.1257 20.2444,17.8807 C20.4304,17.6627 20.4304,17.3407 20.2444,17.1227 L17.2654,14.1447 C17.0214,13.9357 16.6534,13.9637 16.4434,14.2087 C16.2574,14.4267 16.2574,14.7477 16.4434,14.9667 L19.4224,17.9447 Z"
                id="Fill-159" fill="#FFFFFF"></path>
              <path d="M26.7598,15.4618 C27.0818,15.4618 27.3428,15.2008 27.3428,14.8788 L27.3428,10.6478 C27.3428,10.3258 27.0818,10.0648 26.7598,10.0648 C26.4378,10.0648 26.1768,10.3258 26.1768,10.6478 L26.1768,14.8618 C26.1668,15.1828 26.4208,15.4518 26.7418,15.4618 L26.7598,15.4618"
                id="Fill-161" fill="#FFFFFF"></path>
            </g>
          </g>
        </g>
      </svg>
      <h3 padding-horizontal ion-text color="primary">Learn</h3>
    </ion-row>
  </ion-grid>

  <h2 ion-text color="title">Latest Tips</h2>

  <ion-slides pager>

    <ion-slide padding *ngFor="let key of getKeys(tips)">
      <tips [tip]="tips[key]" [userId]="userProvider.currentUser.id" [tipId]="key" [saved]="savedTips? savedTips[key] : false"></tips>
    </ion-slide>
    <div style="height:10px"></div>
  </ion-slides>

</ion-content>
