page-home {
  .home-status-box {
    border: solid 2px color($colors, notification);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20);
  }

  ion-slides {
    height: unset;
  }

  .swiper-pagination-bullet {
    background: white;
    border: 1px solid color($colors, primary);
  }

  .swiper-pagination-bullet-active {
    background: color($colors, secondary);
    border-color: color($colors, secondary);
  }

  ion-slide.swiper-slide {
    margin-bottom: 30px;
  }


}
