<ion-header>
  <onward-header [active]="false"></onward-header>
</ion-header>
<ion-content padding>

  <div padding>
    <onward-branding></onward-branding>
    <h2 ion-text color="primary">SIGN UP</h2>
    <p ion-text color="grey">You are on your way to a better financial future!</p>
  </div>

  <user-registration-form (onSubmit)="userRegistration($event)"></user-registration-form>
</ion-content>