<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <div padding>
    <h1 ion-text color="title">Help</h1>
    <p ion-text color="grey">How can we help?</p>
  </div>

  <div margin-vertical>
    <a href="tel:+18169454099">
      <div><img src="assets/img/call.png" alt="Call"></div>
      <div ion-text color="primary">Call</div>
    </a>
  </div>
  
  <div margin-vertical>
    <a href="mailto:help@getonward.org">
      <div><img src="assets/img/email.png" alt="Email"></div>
      <div ion-text color="primary">Email</div>
    </a>
  </div>

  <div margin-vertical>
    <a href="#/help">
      <div><img src="assets/img/chat.png" alt="Chat"></div>
      <div ion-text color="primary">Chat</div>
    </a>
  </div>

</ion-content>
