<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 margin-vertical ion-text color="title" padding>Withdrawal</h1>

  <div margin-vertical>
    <img style="width: 30%;" src="assets/img/withdraw.png" alt="Withdraw">
  </div>

  <h3 margin-vertical ion-text color="grey">Connected Account</h3>

  <div *ngFor="let node of this.nodes">
    <ion-card class="onward-box" margin-top>
      <ion-card-header>
        <span ion-text color="grey">{{node.info.nickname}}</span>
      </ion-card-header>
      <ion-card-content margin-top>
        <p> <span ion-text color="grey">Bank:</span> <span ion-text color="primary">{{ node.info.bank_name}}</span></p>
        <p> <span ion-text color="grey">Account No. : </span><span ion-text color="primary">{{ node.info.account_num}}</span></p>
        <!-- <button *ngIf="node.allowed === 'CREDIT'" ion-button class="mx-auto big-button" color="secondary" (click)="goToVerify(node)">Verify</button>-->
        <button ion-button class="mx-auto big-button" color="secondary" (click)="selectNode(node)">SELECT</button>
      </ion-card-content>
    </ion-card>
  </div>

  <button *ngIf="this.nodes.length < 2" ion-button class="big-button mx-auto" color="secondary" (click)="moveToAddBeneficiary()">
    Connect to Your Bank
  </button>

</ion-content>