<form [formGroup]="customer" (ngSubmit)="submitForm()" text-center>

  <ion-item>
    <ion-label floating>Industry</ion-label>
    <ion-input formControlName="industry" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input formControlName="name" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>ReferralCode</ion-label>
    <ion-input formControlName="referralCode" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Size</ion-label>
    <ion-input formControlName="size" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>State Code</ion-label>
    <ion-input formControlName="stateCode" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>TIN</ion-label>
    <ion-input formControlName="tin" type="text"></ion-input>
  </ion-item>

  <div text-center margin-top>
    <button class="big-button" ion-button color="secondary">
      Submit
    </button>
  </div>

</form>