<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 margin-vertical ion-text color="title" padding>Edit Goal</h1>

  <div margin-vertical>
    <img style="width: 30%;" src="assets/img/savings.png" alt="Savings">
  </div>

  <h3 margin-vertical ion-text color="grey">What do you want to change?</h3>

  <div>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input class="primary-text" type="text" [(ngModel)]="savings.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Target Date</ion-label>
      <ion-datetime class="primary-text" [(ngModel)]="savings.targetDate" (ngModelChange)="savings.calculateSavingGoal()"
        displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [min]="savings.minDate" max="2050-12-31"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Deduction Amount</ion-label>
      <ion-input class="primary-text" [(ngModel)]="savings.deduction" (change)="savings.calculateSavingGoal()" type="number"
        min="1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Saving Goal</ion-label>
      <ion-input class="primary-text" [(ngModel)]="savings.amount" (change)="savings.calculateDeduction()" type="number"
        min="1"></ion-input>
    </ion-item>

    <ion-row margin>
      <button ion-button class="big-button mx-auto" color="secondary" [disabled]="!savings.isValid" (click)="confirmation()">
        NEXT
      </button>
    </ion-row>

    <ion-row margin>
      <button (click)="goToDetail()" class="big-button mx-auto" ion-button color="light">
        <span ion-text color="primary">
          <ion-icon name="arrow-back" padding-right></ion-icon>
          <span>
            BACK
          </span>
        </span>
      </button>
    </ion-row>

  </div>


</ion-content>