<div class="onward-box shadow">


  <div text-right>
    <div (click)="saveTip()">
      <svg style="margin:10px 10px 0 0;" width="30px" height="30px" viewBox="0 0 13 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="rgb(0, 170, 222)" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Onward-Dashboard-and-Home" transform="translate(-204.000000, -1032.000000)" stroke="rgb(0, 159, 222)"
            stroke-width="0.5">
            <g id="Group-181" transform="translate(16.000000, 919.580000)">
              <polygon [ngStyle]="{'fill': saved? 'gold' : '' }" id="Stroke-163" points="194.6992 113.0157 196.4692 116.6027 200.4272 117.1777 197.5632 119.9697 198.2392 123.9107 194.6992 122.0507 191.1592 123.9107 191.8352 119.9697 188.9702 117.1777 192.9282 116.6027"></polygon>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>

  <p ion-text color="grey" padding-horizontal style="margin-top: 0;">
    {{tip.content}}
  </p>
  <ion-row style="border-top: 1px solid grey" text-center>

    <ion-col (click)="like(1)" padding style="border-right: 1px solid grey">
      <div class="like-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.63 12.99">
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path [ngStyle]="{'fill': isLiked()? 'green' : '' }" d="M12.25,8.83a1.57,1.57,0,0,0,.38-1.07,1.7,1.7,0,0,0-.35-.94,1.46,1.46,0,0,0-.35-1.67,3,3,0,0,0-2.18-.52,8,8,0,0,0-1.34.17h0L8,4.89a4.76,4.76,0,0,1,.34-1.58A2.91,2.91,0,0,0,8.25.67,1.73,1.73,0,0,0,6.87,0a.66.66,0,0,0-.52.24,1.79,1.79,0,0,0-.23,1.3c-.36,1-1.37,3.32-2.22,4l0,0a2.77,2.77,0,0,0-.53.8,1.11,1.11,0,0,0-.54-.14H1.13A1.14,1.14,0,0,0,0,7.34v4.42a1.14,1.14,0,0,0,1.13,1.13H2.79a1.12,1.12,0,0,0,.65-.21l.64.08A29.1,29.1,0,0,0,7.7,13l.91,0a5.94,5.94,0,0,0,1.27-.11,2.36,2.36,0,0,0,1.68-1.05,1.7,1.7,0,0,0,.19-1,1.72,1.72,0,0,0,.61-1.41,1.9,1.9,0,0,0-.11-.55ZM1.13,12.16a.4.4,0,0,1-.4-.4V7.34a.4.4,0,0,1,.4-.4H2.79a.39.39,0,0,1,.39.4v4.42a.38.38,0,0,1-.39.39H1.13ZM11.56,8.52a.35.35,0,0,0-.05.44,1.07,1.07,0,0,1,.12.45,1.08,1.08,0,0,1-.51.94.36.36,0,0,0-.12.42,1,1,0,0,1-.08.7,1.67,1.67,0,0,1-1.2.69,6.82,6.82,0,0,1-2,.06h0A27.33,27.33,0,0,1,4.17,12h0l-.28,0a1,1,0,0,0,0-.24V7.34a1.27,1.27,0,0,0,0-.34,2.3,2.3,0,0,1,.5-.93c1.22-1,2.42-4.23,2.47-4.37a.37.37,0,0,0,0-.18,1.7,1.7,0,0,1,0-.79,1,1,0,0,1,.77.37,2.33,2.33,0,0,1,0,2c-.45,1.38-.49,2.11-.13,2.43a.6.6,0,0,0,.59.11l.47-.1h0c.83-.19,2.33-.3,2.85.17a.79.79,0,0,1,.09,1,.36.36,0,0,0,.07.47,1.07,1.07,0,0,1,.3.63,1.06,1.06,0,0,1-.34.74Z" />
            </g>
          </g>
        </svg>
      </div>
    </ion-col>

    <ion-col padding (click)="like(-1)">
      <div class="like-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.63 12.99">
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path [ngStyle]="{'fill': isDisliked()? 'red' : '' }" d="M.38,4.16A1.63,1.63,0,0,0,0,5.24a1.67,1.67,0,0,0,.35.93A1.48,1.48,0,0,0,.7,7.85a3,3,0,0,0,2.18.52A11,11,0,0,0,4.22,8.2h0l.43-.09a4.85,4.85,0,0,1-.34,1.58,2.89,2.89,0,0,0,.07,2.63A1.7,1.7,0,0,0,5.76,13a.7.7,0,0,0,.53-.23,1.89,1.89,0,0,0,.23-1.3c.35-1,1.36-3.32,2.21-4l0,0a3.22,3.22,0,0,0,.54-.8,1.19,1.19,0,0,0,.53.13H11.5a1.13,1.13,0,0,0,1.13-1.13V1.24A1.13,1.13,0,0,0,11.5.11H9.84a1.14,1.14,0,0,0-.65.2L8.55.24A25,25,0,0,0,4.93,0C4.61,0,4.3,0,4,0A6.48,6.48,0,0,0,2.76.11a2.38,2.38,0,0,0-1.69,1,1.71,1.71,0,0,0-.19,1A1.72,1.72,0,0,0,.27,3.61a1.9,1.9,0,0,0,.11.55ZM11.5.84a.4.4,0,0,1,.4.4V5.66a.39.39,0,0,1-.4.39H9.84a.39.39,0,0,1-.39-.39V1.24a.4.4,0,0,1,.39-.4ZM1.07,4.48A.35.35,0,0,0,1.12,4,1.21,1.21,0,0,1,1,3.58a1.09,1.09,0,0,1,.51-.94.36.36,0,0,0,.12-.42,1,1,0,0,1,.08-.7A1.7,1.7,0,0,1,2.91.83a7.61,7.61,0,0,1,2-.06h0A27.17,27.17,0,0,1,8.46,1h0l.28,0a.88.88,0,0,0,0,.24V5.66A.92.92,0,0,0,8.77,6a2.29,2.29,0,0,1-.51.93C7,7.89,5.85,11.16,5.79,11.3a.36.36,0,0,0,0,.18,1.72,1.72,0,0,1,0,.79A1,1,0,0,1,5,11.9a2.31,2.31,0,0,1,0-2c.46-1.38.49-2.11.13-2.43a.57.57,0,0,0-.59-.1l-.47.09H4c-.83.18-2.33.29-2.85-.18a.79.79,0,0,1-.09-1A.37.37,0,0,0,1,5.85a1,1,0,0,1-.3-.64,1,1,0,0,1,.33-.73Z" />
            </g>
          </g>
        </svg>
      </div>
    </ion-col>
  </ion-row>

</div>
