<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Mobile Phone No.</ion-label>
        <ion-input type="text" [(ngModel)]="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <button ion-button (click)="inviteUser()">Invite User</button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>Access_Token</ion-label>
      <ion-input placeholder="access_abcdef" [(ngModel)]="access_token"></ion-input>
      <ion-label>Refresh_Token</ion-label>
      <ion-input placeholder="refresh_abcdef" [(ngModel)]="refresh_token"></ion-input>
      <table>
        <tr>
          <td>User ID</td>
          <td>SPS ID</td>
          <td>Node</td>
          <td>Deduction</td>
          <td>Dummy Transaction</td>
        </tr>
        <tr *ngFor="let i of savings">
          <td>{{ i.userId?.substr(0,10) }}...</td>
          <td>{{ i['id'] }}</td>
          <td>{{ i['node'] }}</td>
          <td>{{ i.deduction }}</td>
          <td>
            <button ion-button (click)="sendTransaction(i)"> Send transaction</button>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>

<style>
  td {
    padding: 10px;
    border: rgba(150, 150, 150, 0.2) solid 1px;
  }
</style>