<ion-header>
  <onward-header [active]="false"></onward-header>
</ion-header>

<ion-content padding>

  <h2 ion-text color="primary">No Employer Code?</h2>
  <p ion-text color="grey">
    Don’t have an Employer Code but want to get
    your Employer onto Onward?
    Tell us who we should connect with! It’s anonymous.
  </p>

  <employer-contact-form (onSubmit)="submitRequest($event)"></employer-contact-form>
  <ion-row padding>
    <button (click)="goBack()" ion-button color="light" class="big-button mx-auto">
      <span ion-text color="primary">
        <ion-icon name="arrow-back" padding-right></ion-icon><span>BACK</span>
      </span>
    </button>
  </ion-row>
</ion-content>
