<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding>
  <div padding text-center>
    <h1 ion-text color="title">Goal Details</h1>
  </div>
  <goal [isButton]="false" [goal]="goalData"></goal>
  <section padding>
    <ion-grid padding>
      <ion-row (click)="editGoal()" margin ion-text color="primary">
        <div>Edit Goal</div>
      </ion-row>
      <ion-row (click)="deleteGoal()" margin>
        <div>Delete Goal</div>
      </ion-row>
    </ion-grid>
  </section>

</ion-content>