<form [formGroup]="user" (ngSubmit)="registerForm()" text-center>
  <ion-list>
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input formControlName="first_name" type="text"></ion-input>
    </ion-item>

    <span class="danger-text" padding *ngIf="user.controls['first_name'].errors && user.controls['first_name'].dirty">
      First Name must contain only alphabetical characters and hyphens.
    </span>

    <ion-item>
      <ion-label floating>Middle Name</ion-label>
      <ion-input formControlName="middle_name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input formControlName="last_name" type="text"></ion-input>
    </ion-item>

    <span class="danger-text" padding *ngIf="user.controls['last_name'].errors && user.controls['last_name'].dirty">
      Last Name must contain only alphabetical characters and hyphens.
    </span>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <span class="danger-text" padding *ngIf="user.controls['email'].errors && user.controls['email'].dirty">
      Email must have a valid email format.
    </span>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <div class="danger-text" padding-left  *ngIf="user.controls['password'].errors && user.controls['password'].dirty">
      <p *ngIf="!match(user.value.password, '.{8,}')">Password must be at least 8 characters.</p>
      <p *ngIf="!match(user.value.password, '[a-z]')">Password requires a lower case character.</p>
      <p *ngIf="!match(user.value.password, '[A-Z]')">Password requires an upper case character.</p>
      <p *ngIf="!match(user.value.password, '[0-9]')">Password requires a numeric character.</p>
      <p *ngIf="!match(user.value.password, '[^A-Za-z0-9_]')">Password requires a special character.</p>
    </div>

    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input formControlName="confirm_password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Mobile Phone No.</ion-label>
      <ion-input formControlName="phone_number" (keyup)="formatPhone()" type="tel"></ion-input>
    </ion-item>

    <span class="danger-text" padding *ngIf="user.controls['phone_number'].errors && user.controls['phone_number'].dirty">
      Mobile Phone No. must be at least 10 characters.
    </span>

  </ion-list>

  <button class="big-button" ion-button color="secondary">Next</button>

</form>