// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.swiper-slide {
  overflow-y: scroll;
  display: block;
}

.danger-text {
  color: #f53d3d;
}

.white-text {
  color: white;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.big-button {
  margin: auto;
  width: 90%;
  max-width: 300px;
}

hr.primary-edges {
  height: 0px;
  width: 120%;
  margin-left: -10%;
  border: 0; //background-color: color($colors, primary);
  border-top: 1px solid #34C7EA;
}

.list>.item-block:first-child {
  border-top: none;
}

form .list>.item-block:last-child {
  border-bottom: 0.55px solid color($colors, primary);
}

ion-item.item.item-block>div.item-inner {
  border-bottom: 0.55px solid color($colors, primary);
}

form,
.primary-text {
  input {
    color: color($colors, primary);
  }

  .datetime-text {
    color: color($colors, primary);
  }

  .select-text {
    color: color($colors, primary);
  }
}

ion-label {
  color: #878787;
}

.white-button {
  color: color($colors, primary);
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20);
  padding: auto 0 auto 0;
}

.white-button.active {
  color: white;
}

.v-line {
  border: 1px solid #e2e6ea;
  margin-top: 5%;
  margin-bottom: 5%;
}

.onward-box {
  border: 1px solid color($colors, primary);
  background-color: color($colors, box);

  &.press:active {
    color: white;
    background-color: color($colors, primary);
  }

  &.press:hover {
    color: white;
    background-color: color($colors, primary);
  }

}

.blue-box {
  background-color: color($colors, primary);
  color: white;
}

.rounded {
  border-width: 2px;
  border-radius: 20px;
}

.title-color {
  color: color($colors, title);
}

.shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20);
}

.font-size-md {
  font-size: 2rem;
}

.font-size-lg {
  font-size: 3rem;
}

.full-width {
  width: 100%
}


.ion-page>ion-content {
  @media screen {
    position: relative;
    margin: auto;
    max-width: 500px;
    border: #34C7EA solid 1px;
  }
}

page-splash.ion-page>ion-content {
  @media screen {
    position: absolute;
    margin: auto;
    max-width: 100%;
  }
}

#wave {
  @media screen {
    display: none;
  }
}
