<ion-header>

  <ion-navbar>
    <ion-title>transaction-history</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngIf="transactions.length < 1">
    There are no transations.
  </div>

  <div *ngFor="let trans of transactions">
    <ion-card>
      <ion-card-header>
        Reason for Transfer: {{trans.extra.note}}
      </ion-card-header>
      <ion-card-content>
        <div>From: {{trans.from.nickname}} To {{trans.to.nickname}}</div>
        <div>Amount: {{trans.amount.amount}}</div>
        <div>Date: {{ trans.recent_status.date | date}}</div>
        <div>Status: {{trans.recent_status.status}}</div>
        <div>Note: {{trans.recent_status.note}}</div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>