page-tutorial {

  .steps-text {
    color: white;
    font-size: 1.5em;
    line-height: 1.7em;
  }

  .hero-gradient {
    position: relative;
    width: 100%;
    margin-top: -30px;
    padding: 60px 12px 40px;
    background: -webkit-linear-gradient(0, #62cf95 9%, #00aae5 84%);
    background: linear-gradient(0, #62cf95 9%, #00aae5 84%);
    min-height: 400px;
    height: 100%;
  }

  button.swiper-pagination-bullet.pagination-bullet-active {
    background-color: #00aae5 !important;
  }

  .next {
    padding: 30px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .colored {
    background-color: #62cf95;
  }

  #wave {
    margin-top: -115px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    svg path {
      fill: #00aae5;
    }
  }


  @media screen and (min-width: 1024px) {
    svg {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}
