<ion-header>
  <onward-header [active]="true"></onward-header>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slidesData" class="colored">
      <img [src]="slide.image" class="slide-image" />
      <div class="hero-gradient">
        <div id="wave">
          <svg viewBox="0 0 450 200">
            <path d="M-50,100 L-1,100 C150,200 300,0 450,102 L600,100 L600,300 L-250,300 L-250,Z"></path>
          </svg>
        </div>

        <p class="steps-text">
          <b>{{slide.bold}}</b>
          <span>{{slide.text}}</span>
        </p>

        <div text-right class="next" (click)="slides.slideNext()"><span>NEXT</span></div>
      </div>
    </ion-slide>

    <ion-slide>

      <div padding>

        <h2 margin text-left ion-text color="primary">Hi {{userProvider.currentUser?.first_name}},</h2>

        <div>
          <svg width="81px" height="104px" viewBox="0 0 81 104" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-10" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Onward-Account-Opening-User-Journey" transform="translate(-81.000000, -130.000000)">
                <g id="Group-555" transform="translate(0.000000, -0.039000)">
                  <path d="M81.5874,193.7914 C81.5874,215.8944 99.5054,233.8124 121.6084,233.8124 C143.7104,233.8124 161.6284,215.8944 161.6284,193.7914 C161.6284,171.6884 143.7104,153.7714 121.6084,153.7714 C99.5054,153.7714 81.5874,171.6884 81.5874,193.7914"
                    id="Fill-528" fill="#DAF3FF"></path>
                  <polygon id="Fill-530" fill="#72D8F5" points="140.0386 178.7175 142.2466 177.7735 140.0386 176.8295"></polygon>
                  <path d="M133.02,181.2699 C133.422,180.6299 133.963,180.0889 134.602,179.6869 C133.963,179.2859 133.422,178.7449 133.02,178.1059 C132.619,178.7449 132.078,179.2859 131.437,179.6869 C132.078,180.0889 132.618,180.6299 133.02,181.2699"
                    id="Fill-532" fill="#FFFFFF"></path>
                  <path d="M126.002,198.189 L127.278,198.189 L127.278,196.913 L126.002,196.913 L126.002,198.189 Z M123.45,198.189 L124.726,198.189 L124.726,196.913 L123.45,196.913 L123.45,198.189 Z M128.554,196.913 L138.603,196.913 C138.657,196.475 138.771,196.046 138.941,195.638 L122.174,195.638 C121.117,195.638 120.26,196.495 120.26,197.552 C120.26,198.609 121.117,199.466 122.174,199.466 L138.94,199.466 C138.771,199.058 138.657,198.628 138.603,198.189 L128.554,198.189 L128.554,196.913 Z"
                    id="Fill-534" fill="#FFFFFF"></path>
                  <path d="M115.795,208.397 L117.07,208.397 L117.07,207.121 L115.795,207.121 L115.795,208.397 Z M113.242,208.397 L114.518,208.397 L114.518,207.121 L113.242,207.121 L113.242,208.397 Z M118.346,207.122 L128.395,207.122 C128.449,206.683 128.563,206.254 128.733,205.845 L111.966,205.845 C110.909,205.845 110.052,206.702 110.052,207.759 C110.052,208.816 110.909,209.673 111.966,209.673 L128.733,209.673 C128.563,209.265 128.449,208.836 128.395,208.397 L118.346,208.397 L118.346,207.122 Z"
                    id="Fill-536" fill="#FFFFFF"></path>
                  <path d="M118.9331,179.0495 C118.9331,180.4585 117.7901,181.6015 116.3811,181.6015 C114.9721,181.6015 113.8291,180.4585 113.8291,179.0495 C113.8291,177.6395 114.9721,176.4975 116.3811,176.4975 C117.7901,176.4975 118.9331,177.6395 118.9331,179.0495"
                    id="Fill-537" fill="#72D8F5"></path>
                  <polygon id="Fill-538" fill="#99E5F5" points="113.8804 187.8156 113.8804 186.3286 113.1404 187.0756"></polygon>
                  <path d="M108.1377,212.2257 L123.2907,212.2257 C123.3457,211.7867 123.4587,211.3577 123.6287,210.9497 L106.8627,210.9497 C105.8047,210.9497 104.9487,211.8067 104.9487,212.8637 C104.9487,213.9207 105.8047,214.7777 106.8627,214.7777 L123.6287,214.7777 C123.4587,214.3697 123.3457,213.9397 123.2907,213.5017 L108.1377,213.5017 L108.1377,212.2257 Z"
                    id="Fill-539" fill="#FFFFFF"></path>
                  <path d="M114.7349,184.2046 C114.9839,184.2936 115.1509,184.5276 115.1559,184.7916 L115.1559,199.4656 L117.0699,199.4656 L117.0699,190.5336 C117.0489,190.2036 117.2999,189.9176 117.6299,189.8966 C117.6389,189.8966 117.6479,189.8956 117.6569,189.8956 L123.3999,189.8956 C123.7619,189.8916 124.0649,190.1716 124.0879,190.5336 L124.0879,194.3616 L126.0019,194.3616 L126.0019,189.8956 C125.9779,188.8286 125.1049,187.9776 124.0369,187.9806 L119.5709,187.9806 C119.2399,187.9746 118.9769,187.7016 118.9839,187.3706 C118.9839,187.3616 118.9839,187.3526 118.9849,187.3436 L118.9849,184.1526 C118.9639,183.8226 119.2139,183.5376 119.5449,183.5166 C119.5539,183.5156 119.5629,183.5156 119.5709,183.5156 L123.3999,183.5156 C124.4659,183.5196 125.3399,182.6676 125.3639,181.6016 L125.3639,176.4976 L124.0889,176.4976 L124.0889,181.6016 C124.0649,181.9636 123.7619,182.2436 123.3999,182.2396 L118.4929,182.2396 C117.1749,183.1116 115.4569,183.0836 114.1679,182.1696 L110.6139,185.7226 C109.8669,186.4706 109.8669,187.6806 110.6139,188.4276 L112.5279,190.3416 L113.5419,189.3276 L111.7619,187.5476 C111.5149,187.2986 111.5149,186.8966 111.7619,186.6476 L114.0459,184.3636 C114.2279,184.1846 114.4939,184.1236 114.7349,184.2046"
                    id="Fill-540" fill="#72D8F5"></path>
                  <path d="M118.984,203.294 L126.64,203.294 L126.64,202.018 L118.984,202.018 L118.984,203.294 Z M127.916,202.017 L133.499,202.017 C133.553,201.579 133.667,201.149 133.837,200.741 L117.07,200.741 C116.013,200.741 115.156,201.598 115.156,202.655 C115.156,203.712 116.013,204.569 117.07,204.569 L133.837,204.569 C133.667,204.161 133.553,203.732 133.499,203.294 L127.916,203.294 L127.916,202.017 Z"
                    id="Fill-541" fill="#FFFFFF"></path>
                  <polygon id="Fill-542" fill="#72D8F5" points="106.224 180.963 107.5 180.963 107.5 179.687 106.224 179.687"></polygon>
                  <polygon id="Fill-543" fill="#72D8F5" points="108.776 180.963 110.052 180.963 110.052 179.687 108.776 179.687"></polygon>
                  <polygon id="Fill-544" fill="#72D8F5" points="103.672 180.963 104.948 180.963 104.948 179.687 103.672 179.687"></polygon>
                  <path d="M133.02,178.1245 C133.422,178.7635 133.963,179.3055 134.602,179.7065 C133.963,180.1085 133.422,180.6485 133.02,181.2885 C132.619,180.6485 132.078,180.1085 131.437,179.7065 C132.08,179.2995 132.621,178.7525 133.02,178.1055 L133.02,178.1245 Z M129.677,180.3255 C131.019,180.6595 132.067,181.7075 132.401,183.0495 C132.487,183.3915 132.833,183.5995 133.175,183.5135 C133.404,183.4565 133.582,183.2775 133.639,183.0495 C133.973,181.7075 135.021,180.6595 136.363,180.3255 C136.705,180.2395 136.913,179.8935 136.827,179.5515 C136.77,179.3225 136.592,179.1455 136.363,179.0875 C135.021,178.7535 133.973,177.7055 133.639,176.3635 C133.553,176.0215 133.207,175.8145 132.865,175.8995 C132.637,175.9565 132.458,176.1345 132.401,176.3635 C132.067,177.7055 131.019,178.7535 129.677,179.0875 C129.335,179.1735 129.127,179.5195 129.213,179.8615 C129.27,180.0895 129.449,180.2685 129.677,180.3255 Z"
                    id="Fill-545" fill="#72D8F5"></path>
                  <polygon id="Fill-546" fill="#72D8F5" points="118.984 203.293 126.64 203.293 126.64 202.017 118.984 202.017"></polygon>
                  <path d="M140.0186,178.7175 L140.0186,176.8035 L142.2266,177.7475 L140.0186,178.7175 Z M134.9146,199.4655 L122.1746,199.4655 C121.1176,199.4655 120.2606,198.6085 120.2606,197.5515 C120.2606,196.4945 121.1176,195.6375 122.1746,195.6375 L138.9406,195.6375 C138.7706,196.0455 138.6576,196.4745 138.6026,196.9135 L128.5536,196.9135 L128.5536,198.1895 L138.6026,198.1895 C138.6576,198.6285 138.7706,199.0565 138.9406,199.4655 L134.9146,199.4655 Z M129.8106,204.5695 L117.0696,204.5695 C116.0126,204.5695 115.1556,203.7125 115.1556,202.6555 C115.1556,201.5985 116.0126,200.7415 117.0696,200.7415 L133.8366,200.7415 C133.6666,201.1495 133.5536,201.5785 133.4986,202.0175 L127.9156,202.0175 L127.9156,203.2935 L133.4986,203.2935 C133.5536,203.7315 133.6666,204.1615 133.8366,204.5695 L129.8106,204.5695 Z M124.7066,209.6735 L111.9666,209.6735 C110.9086,209.6735 110.0526,208.8165 110.0526,207.7595 C110.0526,206.7025 110.9086,205.8455 111.9666,205.8455 L128.7326,205.8455 C128.5626,206.2535 128.4496,206.6825 128.3946,207.1215 L118.3466,207.1215 L118.3466,208.3975 L128.3946,208.3975 C128.4496,208.8365 128.5626,209.2655 128.7326,209.6735 L124.7066,209.6735 Z M123.2716,213.5015 C123.3266,213.9405 123.4396,214.3695 123.6096,214.7775 L106.8626,214.7775 C105.8056,214.7775 104.9486,213.9205 104.9486,212.8635 C104.9486,211.8065 105.8056,210.9495 106.8626,210.9495 L123.6286,210.9495 C123.4586,211.3575 123.3456,211.7865 123.2906,212.2255 L108.1376,212.2255 L108.1376,213.5015 L123.2906,213.5015 L123.2716,213.5015 Z M119.6226,199.4655 L118.3466,199.4655 L118.3466,191.1715 L122.8116,191.1715 L122.8116,194.3615 L122.1746,194.3615 C120.4126,194.3615 118.9836,195.7895 118.9836,197.5515 C118.9836,198.2415 119.2076,198.9135 119.6226,199.4655 Z M114.0146,184.3385 L111.7296,186.6225 C111.4826,186.8715 111.4826,187.2735 111.7296,187.5225 L113.5106,189.3025 L112.4956,190.3165 L110.5816,188.4025 C109.8356,187.6555 109.8356,186.4445 110.5816,185.6975 L114.1356,182.1435 C115.4246,183.0585 117.1426,183.0855 118.4606,182.2145 L123.3676,182.2145 C123.7296,182.2175 124.0326,181.9375 124.0566,181.5765 L124.0566,176.4725 L125.3326,176.4725 L125.3326,181.5755 C125.3076,182.6425 124.4346,183.4935 123.3676,183.4905 L119.5396,183.4905 C119.2076,183.4965 118.9446,183.7695 118.9516,184.1015 C118.9516,184.1105 118.9516,184.1185 118.9526,184.1285 L118.9526,187.3185 C118.9306,187.6485 119.1816,187.9335 119.5126,187.9545 C119.5206,187.9555 119.5296,187.9565 119.5396,187.9565 L124.0056,187.9565 C125.0726,187.9515 125.9466,188.8035 125.9706,189.8695 L125.9706,194.3355 L124.0566,194.3355 L124.0566,190.5075 C124.0326,190.1465 123.7296,189.8665 123.3676,189.8695 L117.6246,189.8695 C117.2936,189.8765 117.0306,190.1505 117.0376,190.4805 C117.0376,190.4895 117.0376,190.4985 117.0386,190.5075 L117.0386,199.4395 L115.1236,199.4395 L115.1236,184.7915 C115.1196,184.5275 114.9516,184.2945 114.7036,184.2045 C114.4666,184.1165 114.2006,184.1685 114.0146,184.3385 Z M113.8806,187.8155 L113.1406,187.0685 L113.8806,186.3285 L113.8806,187.8155 Z M116.3816,176.4975 C117.7906,176.4975 118.9336,177.6395 118.9336,179.0495 C118.9336,180.4585 117.7906,181.6015 116.3816,181.6015 C114.9716,181.6015 113.8296,180.4585 113.8296,179.0495 C113.8296,177.6395 114.9716,176.4975 116.3816,176.4975 Z M144.1156,177.1865 L139.6486,175.2725 C139.3246,175.1345 138.9506,175.2865 138.8126,175.6115 C138.7796,175.6895 138.7626,175.7735 138.7626,175.8595 L138.7626,194.3615 L127.2786,194.3615 L127.2786,189.8955 C127.2536,188.1235 125.8086,186.7015 124.0376,186.7055 L120.2606,186.7055 L120.2606,184.7915 L123.3986,184.7915 C125.1706,184.7945 126.6156,183.3725 126.6406,181.6015 L126.6406,175.8595 C126.6166,175.4975 126.3136,175.2175 125.9516,175.2215 L123.3986,175.2215 C123.0676,175.2275 122.8046,175.5015 122.8106,175.8325 C122.8106,175.8415 122.8116,175.8505 122.8116,175.8595 L122.8116,180.9635 L119.6926,180.9635 C120.7546,179.1355 120.1346,176.7925 118.3076,175.7295 C116.4796,174.6665 114.1366,175.2865 113.0736,177.1145 C112.3176,178.4155 112.3936,180.0385 113.2676,181.2635 L109.7076,184.7915 C108.4616,186.0365 108.4616,188.0565 109.7076,189.3025 L112.0486,191.6435 C112.1696,191.7625 112.3326,191.8295 112.5016,191.8285 C112.6796,191.8305 112.8506,191.7635 112.9806,191.6435 L113.8806,190.7695 L113.8806,200.1035 C113.8596,200.4335 114.1096,200.7185 114.4406,200.7405 C114.4496,200.7405 114.4586,200.7415 114.4676,200.7415 L114.5186,200.7415 C113.6456,201.8685 113.6456,203.4425 114.5186,204.5695 L111.9666,204.5695 C110.2046,204.5695 108.7766,205.9975 108.7766,207.7595 C108.7766,208.4495 108.9996,209.1215 109.4146,209.6735 L106.8626,209.6735 C105.1006,209.6735 103.6716,211.1015 103.6716,212.8635 C103.6716,214.6255 105.1006,216.0535 106.8626,216.0535 L124.7266,216.0535 C125.0786,216.0535 125.3646,215.7685 125.3646,215.4155 C125.3646,215.2775 125.3196,215.1435 125.2366,215.0325 C124.3496,213.8335 124.2866,212.2135 125.0776,210.9495 L129.8306,210.9495 C130.1826,210.9495 130.4686,210.6635 130.4686,210.3115 C130.4686,210.1735 130.4236,210.0385 130.3406,209.9285 C129.4546,208.7295 129.3906,207.1095 130.1816,205.8455 L134.9346,205.8455 C135.2866,205.8455 135.5726,205.5595 135.5726,205.2075 C135.5726,205.0695 135.5276,204.9345 135.4446,204.8245 C134.5576,203.6255 134.4946,202.0065 135.2856,200.7415 L140.0386,200.7415 C140.3906,200.7415 140.6766,200.4555 140.6766,200.1035 C140.6766,199.9655 140.6316,199.8315 140.5486,199.7205 C139.5916,198.4325 139.5916,196.6705 140.5486,195.3825 C140.7606,195.1005 140.7036,194.7005 140.4216,194.4885 C140.3106,194.4065 140.1766,194.3615 140.0386,194.3615 L140.0386,180.1085 L144.1156,178.3605 C144.4396,178.2225 144.5906,177.8475 144.4526,177.5235 C144.3876,177.3715 144.2666,177.2515 144.1156,177.1865 Z"
                    id="Fill-547" fill="#72D8F5"></path>
                  <polygon id="Fill-548" fill="#72D8F5" points="115.794 208.398 117.069 208.398 117.069 207.122 115.794 207.122"></polygon>
                  <polygon id="Fill-549" fill="#72D8F5" points="113.242 208.398 114.518 208.398 114.518 207.122 113.242 207.122"></polygon>
                  <polygon id="Fill-550" fill="#72D8F5" points="126.002 198.189 127.278 198.189 127.278 196.913 126.002 196.913"></polygon>
                  <polygon id="Fill-551" fill="#72D8F5" points="123.45 198.189 124.726 198.189 124.726 196.913 123.45 196.913"></polygon>
                  <polygon id="Fill-552" fill="#00D898" points="95.271 143.8698 97.11 149.9718 103.18 151.9158 97.945 155.5508 97.971 161.9248 92.896 158.0688 86.844 160.0638 88.942 154.0458 85.174 148.9058 91.546 149.0418"></polygon>
                  <polygon id="Fill-553" fill="#00D898" points="148.2744 142.7988 146.0624 148.7758 139.8844 150.3428 144.8864 154.2938 144.4674 160.6528 149.7704 157.1178 155.6894 159.4808 153.9644 153.3448 158.0424 148.4458 151.6734 148.1898"></polygon>
                  <polygon id="Fill-554" fill="#00D898" points="120.542 130.0733 125.856 140.8413 137.74 142.5683 129.141 150.9493 131.17 162.7853 120.542 157.1973 109.914 162.7853 111.943 150.9493 103.344 142.5683 115.228 140.8413"></polygon>
                </g>
              </g>
            </g>
          </svg>
        </div>

        <p padding ion-text color="grey">
          Congratulations! You are now
          on your way to building
          a financial cushion and
          achieving your goals.
        </p>
        <button margin-top class="big-button" (click)='goToStartSaving()' ion-button color="secondary">
          START SAVING NOW
        </button>
        <button margin-top class="big-button" (click)='goToCreateGoal()' ion-button color="secondary">
          SET SAVING GOAL
        </button>

      </div>

    </ion-slide>


  </ion-slides>



</ion-content>
