<form [formGroup]="request" (ngSubmit)="submitForm()" text-center>

  <ion-list>

    <ion-item>
      <ion-label floating>Company</ion-label>
      <ion-input formControlName="company" type="text"></ion-input>
    </ion-item>

    <span class="danger-text" padding *ngIf="request.controls['company'].errors && request.controls['company'].dirty">
      Company is required.
    </span>


    <ion-item>
      <ion-label floating>Contact Name (HR Person or Direct Manager)</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <span class="danger-text" padding *ngIf="request.controls['name'].errors && request.controls['name'].dirty">
      Contact Name is required.
    </span>

    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input formControlName="location" type="text"></ion-input>
    </ion-item>

    <span class="danger-text" padding *ngIf="request.controls['location'].errors && request.controls['location'].dirty">
      Location is required.
    </span>

    <ion-item>
      <ion-label floating>Contact No. (Optional)</ion-label>
      <ion-input formControlName="phone" (keyup)="formatPhone()" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email (Optional)</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

  </ion-list>

  <button class="big-button" ion-button color="secondary">Submit</button>

</form>
