goal {
    progress-bar {
        .progress-outer {
            padding: 0px !important;
            border-radius: 0 !important;
            border: 1px solid #e2e6ea !important;
            background-color: #d9f2fe !important;
        }
        .progress-inner {
            border-radius: 0 !important;
        }
    }
}