<div padding [class.onward-box]="isButton" class="rounded title-color" text-center>

  <div text-right>
    <h2 text-center ion-text color="primary">{{goal?.name}}</h2>
    <a *ngIf="isButton" >
      <ion-icon name="open"></ion-icon> Edit
    </a>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div ion-text color="primary" padding-vertical class="font-size-md">${{goal?.deduction}}</div>
        <div ion-text color="title">Deduction per paycheck</div>
      </ion-col>
      <div class="v-line"></div>
      <ion-col>
        <div ion-text color="primary" padding-vertical class="font-size-md">${{goal?.targetAmount}}</div>
        <div ion-text color="title">Savings Goal</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="goal?.targetDate">
    Goal Achievement Date - {{goal.targetDate | date}}
  </div>

  <div>
    <progress-bar [progress]="getProgress()" [color]="'#00aade'"></progress-bar>
  </div>

</div>
