<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>
  <h1 ion-text color="title" padding>Messages</h1>
  <hr class="primary-edges">
  <div *ngFor="let key of getKeys(messages)">
    <notice [noticeData]="messages[key]" [noticeId]="key"></notice>
  </div>

</ion-content>