page-start-saving {

  button.press {
    min-width: 140px;
    min-height: 90px;
    color: color($colors, primary);
    transition: background-color 0.5s, color 0.5s;

    &:active {
      color: white;
    }

    &:hover {
      color: white;
    }
  }

}
