<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h2 ion-text color="title">Start Savings</h2>

  <svg width="81px" height="82px" viewBox="0 0 81 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-19" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Onward-Dashboard-and-Home" transform="translate(-81.000000, -159.000000)">
        <g id="Group-1301" transform="translate(0.000000, -0.238000)">
          <path d="M81.9669,200.0479 C81.9669,222.1509 99.8849,240.0679 121.9879,240.0679 C144.0899,240.0679 162.0079,222.1509 162.0079,200.0479 C162.0079,177.9449 144.0899,160.0269 121.9879,160.0269 C99.8849,160.0269 81.9669,177.9449 81.9669,200.0479"
            id="Fill-1286" fill="#DAF3FF"></path>
          <path d="M145.0939,232.5314 C145.0939,236.0194 147.9209,238.8464 151.4079,238.8464 C154.8969,238.8464 157.7239,236.0194 157.7239,232.5314 C157.7239,229.0434 154.8969,226.2164 151.4079,226.2164 C147.9209,226.2164 145.0939,229.0434 145.0939,232.5314"
            id="Fill-1288" fill="#FFFFFF"></path>
          <path d="M149.3781,236.7043 L145.7251,233.0513 L146.9421,231.8333 L149.3781,234.2683 L154.8581,228.7883 L156.0761,230.0063 L149.3781,236.7043 Z M150.9001,224.1443 C146.3171,224.1443 142.6031,227.8593 142.6031,232.4423 C142.6031,237.0243 146.3171,240.7393 150.9001,240.7393 C155.4831,240.7393 159.1981,237.0243 159.1981,232.4423 C159.1981,227.8593 155.4821,224.1443 150.9001,224.1443 Z"
            id="Fill-1290" fill="#00D898"></path>
          <polygon id="Fill-1292" fill="#FFFFFF" points="118.9982 188.879 116.8632 192.721 116.8632 202.73 121.3962 202.73 124.5992 204.517 129.8122 205.411 133.7932 202.778 132.8022 191.298 129.2442 188.167 127.5362 186.887 127.6522 184.858 127.6792 182.191 121.3962 181.284 122.1292 186.033"></polygon>
          <path d="M128.1759,213.4528 L114.2478,213.4528 L114.2479,206.3038 C114.2459,206.0898 114.2739,205.8758 114.3279,205.6688 C114.3279,205.6558 114.3329,205.6438 114.3369,205.6308 C114.6399,204.4478 115.7069,203.6208 116.9289,203.6238 L120.5029,203.6238 C121.7249,203.6208 122.7919,204.4478 123.0949,205.6308 C123.1959,206.0278 123.5529,206.3048 123.9609,206.3038 L129.4399,206.3038 C129.6389,206.3068 129.8319,206.3748 129.9889,206.4978 C130.1339,206.6088 130.2389,206.7638 130.2879,206.9398 C130.2879,206.9498 130.2979,206.9578 130.3009,206.9678 C130.3229,207.0428 130.3349,207.1198 130.3329,207.1978 C130.3329,207.4388 130.2349,207.6688 130.0599,207.8338 C129.8969,208.0008 129.6719,208.0938 129.4399,208.0918 L119.6099,208.0918 L119.6099,209.8788 L129.4399,209.8788 C130.9159,209.8698 132.1119,208.6748 132.1199,207.1978 C132.1199,207.1288 132.1099,207.0618 132.1039,206.9938 L137.2869,201.8158 C138.0999,201.0288 139.3129,200.8208 140.3409,201.2918 L128.1759,213.4528 Z M108.8869,215.2398 L112.4609,215.2398 L112.4609,202.7298 L108.8869,202.7298 L108.8869,215.2398 Z M117.8219,193.0168 C117.8249,190.9788 119.4759,189.3278 121.5129,189.3258 L122.2899,189.3258 C122.7839,189.3258 123.1839,188.9258 123.1839,188.4318 L123.1839,186.6448 L126.7589,186.6448 L126.7589,188.4318 C126.7589,188.9258 127.1579,189.3258 127.6529,189.3258 L128.4299,189.3258 C130.4669,189.3278 132.1169,190.9788 132.1199,193.0168 L132.1199,201.7198 C132.1249,202.9318 131.5289,204.0678 130.5279,204.7498 C130.4999,204.7378 130.4689,204.7328 130.4389,204.7218 C130.3249,204.6768 130.2099,204.6388 130.0929,204.6078 C130.0419,204.5958 129.9939,204.5808 129.9449,204.5708 C129.7779,204.5368 129.6089,204.5188 129.4399,204.5168 L124.5989,204.5168 C123.8899,202.8868 122.2799,201.8338 120.5029,201.8358 L117.8219,201.8358 L117.8219,201.7198 L117.8219,193.0168 Z M122.2899,184.8578 L127.6519,184.8578 L127.6519,183.0708 L122.2899,183.0708 L122.2899,184.8578 Z M142.3409,200.5518 C140.5939,198.8088 137.7659,198.8088 136.0189,200.5518 L133.7929,202.7778 C133.8649,202.4298 133.9039,202.0758 133.9069,201.7198 L133.9069,193.0168 C133.9049,190.0378 131.5239,187.6058 128.5459,187.5388 L128.5459,186.3968 C129.0969,186.0798 129.4379,185.4938 129.4399,184.8578 L129.4399,182.1768 C129.4399,181.6838 129.0389,181.2838 128.5459,181.2838 L121.3969,181.2838 C120.9039,181.2838 120.5029,181.6838 120.5029,182.1768 L120.5029,184.8578 C120.5049,185.4938 120.8459,186.0798 121.3969,186.3968 L121.3969,187.5388 C118.4189,187.6058 116.0389,190.0368 116.0349,193.0158 L116.0349,201.7188 C116.0349,201.7928 116.0439,201.8598 116.0469,201.9318 C115.3959,202.0608 114.7809,202.3338 114.2479,202.7298 L114.2479,201.8358 C114.2479,201.3428 113.8479,200.9428 113.3549,200.9428 L107.9929,200.9428 C107.4989,200.9428 107.0999,201.3428 107.0999,201.8358 L107.0999,216.1338 C107.0999,216.6268 107.4989,217.0268 107.9929,217.0268 L113.3549,217.0268 C113.8479,217.0268 114.2479,216.6268 114.2479,216.1338 L114.2479,215.2398 L128.5459,215.2398 C128.7819,215.2398 129.0099,215.1458 129.1779,214.9778 L142.3409,201.8158 C142.6899,201.4668 142.6899,200.9008 142.3409,200.5518 Z"
            id="Fill-1294" fill="#72D8F5"></path>
          <polygon id="Fill-1296" fill="#72D8F5" points="109.78 206.304 111.567 206.304 111.567 204.517 109.78 204.517"></polygon>
          <path d="M123.1837,201.8361 L124.0777,201.8361 L124.0777,202.7301 L125.8657,202.7301 L125.8657,201.8361 L126.7587,201.8361 C127.7457,201.8361 128.5457,201.0361 128.5457,200.0491 L128.5457,198.2621 C128.5457,197.2751 127.7457,196.4741 126.7587,196.4741 L123.1837,196.4741 L123.1837,194.6871 L126.7587,194.6871 L126.7587,195.5811 L128.5457,195.5811 L128.5457,194.6871 C128.5457,193.7001 127.7457,192.9001 126.7587,192.9001 L125.8657,192.9001 L125.8657,192.0071 L124.0777,192.0071 L124.0777,192.9001 L123.1837,192.9001 C122.1977,192.9001 121.3967,193.7001 121.3967,194.6871 L121.3967,196.4741 C121.3967,197.4611 122.1977,198.2621 123.1837,198.2621 L126.7587,198.2621 L126.7587,200.0491 L123.1837,200.0491 L123.1837,199.1551 L121.3967,199.1551 L121.3967,200.0491 C121.3967,201.0361 122.1977,201.8361 123.1837,201.8361"
            id="Fill-1298" fill="#72D8F5"></path>
        </g>
      </g>
    </g>
  </svg>

  <p ion-text color="grey">How much do you want to save?</p>

  <div *ngIf="selectMode === 'auto'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button padding class="onward-box rounded press" (click)="selectAmount(10)">
            <b>$10 per paycheck for</b>
            <div>12 paychecks</div>
            <div>$120</div>
          </button>
        </ion-col>
        <ion-col>
          <button padding class="onward-box rounded press" (click)="selectAmount(20)">
            <b>$20 per paycheck for</b>
            <div>12 paychecks</div>
            <div>$240</div>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button padding class="onward-box rounded press" (click)="selectAmount(30)">
            <b>$30 per paycheck for</b>
            <div>12 paychecks</div>
            <div>$360</div>
          </button>
        </ion-col>
        <ion-col>
          <button padding class="onward-box rounded press" (click)="selectAmount(40)">
            <b>$40 per paycheck for</b><br>
            <div>12 paychecks</div>
            <div>$480</div>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <button padding (click)="selectMode = 'manual'" ion-button class="mx-auto onward-box rounded you-choose press">
          <b>You Choose</b>
        </button>
      </ion-row>
    </ion-grid>

    <ion-row margin>
      <button (click)="this.navCtrl.setRoot('HomePage')" class="big-button mx-auto" ion-button color="light">
        <span ion-text color="primary">
          <ion-icon name="arrow-back" padding-right></ion-icon><span>Back</span>
        </span>
      </button>
    </ion-row>

  </div>

  <div *ngIf="selectMode === 'manual'">
    <ion-item>
      <ion-label floating>Savings Per Paycheck</ion-label>
      <ion-input class="primary-text" (blur)="formatCurrency()" [(ngModel)]="amount"></ion-input>
    </ion-item>

    <ion-row margin>
      <button ion-button class="big-button mx-auto" color="secondary" (click)="submit()">
        Enter
      </button>
    </ion-row>

    <ion-row margin>
      <button (click)="selectMode = 'auto'" class="big-button mx-auto" ion-button color="light">
        <span ion-text color="primary">
          <ion-icon name="arrow-back" padding-right></ion-icon><span>Back</span>
        </span>
      </button>
    </ion-row>

  </div>


</ion-content>
