<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <div text-center margin>
    <h2 ion-text color="title">Reset Password</h2>
  </div>

  <ion-item>
    <ion-label floating>Enter Email Address to Reset</ion-label>
    <ion-input type="email" class="primary-text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <div padding margin-vertical>
    <p margin ion-text color="grey">
      Password reset can only be sent to an Onward account email address.
    </p>
  </div>

  <div margin-vertical>

    <ion-row margin-vertical>
      <button (click)="submitReset()"  ion-button class="big-button mx-auto" color="secondary">
        Enter
      </button>
    </ion-row>

    <ion-row margin-vertical>
      <button (click)="goToProfile()"  ion-button color="light" class="big-button mx-auto">
        <span ion-text color="primary">
          <ion-icon name="arrow-back" padding-right></ion-icon><span>Back</span>
        </span>
      </button>
    </ion-row>
  </div>

</ion-content>