<ion-header>
  <onward-header action="true"></onward-header>
</ion-header>

<ion-content padding>

  <div padding>
    <h2 ion-text color="primary">Verify Connected Account</h2>
  </div>

  <ion-item>
    <ion-label>Micro Transactions</ion-label>
  </ion-item>
  <ion-item *ngFor="let m of micro; let i = index">
    <ion-input type="number" [value]="micro[i]"></ion-input>
    <button ion-button (click)="removeMicro(i)">Remove</button>
  </ion-item>
  <ion-item>
    <!-- <button ion-button (click)="addMicro()">Add Transaction</button> -->
    <button ion-button (click)="verify()">Verify</button>
  </ion-item>

</ion-content>