<form [formGroup]="beneficiary" (ngSubmit)="addbeneficiary()" text-center>
  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input type="text" formControlName="nickname"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="beneficiary.controls['nickname'].errors && beneficiary.controls['nickname'].dirty">
    Name is required.
  </span>

  <ion-item>
    <ion-label floating>Account No.</ion-label>
    <ion-input type="text" formControlName="account_num"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="beneficiary.controls['account_num'].errors && beneficiary.controls['account_num'].dirty">
    Account No. must be at least 5 characters and must be under 18 characters.
  </span>

  <ion-item>
    <ion-label floating>Routing No.</ion-label>
    <ion-input type="text" formControlName="routing_num"></ion-input>
  </ion-item>

  <span class="danger-text" padding *ngIf="beneficiary.controls['routing_num'].errors && beneficiary.controls['routing_num'].dirty">
    Routing No. must have 9 digits and follow the ABA routing transit number.
  </span>

  <button margin-vertical ion-button class="mx-auto big-button" color="secondary">Next</button>

</form>
