<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ion-item>
    <ion-label floating>Value</ion-label>
    <ion-input formControlName="value" min="0" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Period</ion-label>
    <ion-input formControlName="period" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Period</ion-label>
    <ion-select formControlName="period">
      <ion-option value="" ></ion-option>
      <ion-option value=""></ion-option>
      <ion-option value=""></ion-option>
    </ion-select>
  </ion-item>

  <button ion-button>
    Submit
  </button>

</form>