<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding>

  <h1 ion-text color="title">Admin</h1>
  <h2 ion-text color="grey">New Customers</h2>
  <page-admin-new-customer></page-admin-new-customer>

</ion-content>