<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h2 ion-text color="title" margin>My Account</h2>
  <!--
  <div *ngIf="savingNode?.sps">
    <h4 ion-text color="grey" margin-top>Onward Saving Account</h4>
    <a>View Account Information</a>

    <ion-list>
      <ion-list-header>
        Saving Account
      </ion-list-header>
      <ion-item>
        <ion-label floating>Account Number</ion-label>
        <ion-input type="password" [value]="savingNode?.account_num" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Routing Number</ion-label>
        <ion-input type="password" [value]="savingNode?.routing_num" disabled></ion-input>
      </ion-item>
    </ion-list>
  </div>
  -->

  <h4 ion-text color="grey" margin-top>My Connected Accounts</h4>

  <div *ngFor="let node of this.nodes">
    <ion-card class="onward-box" margin-top>
      <ion-card-header>
        <span ion-text color="grey">{{node.info.nickname}}</span>
      </ion-card-header>
      <ion-card-content margin-top>
        <p> <span ion-text color="grey">Bank:</span> <span ion-text color="primary">{{ node.info.bank_name}}</span></p>
        <p> <span ion-text color="grey">Account No. : </span><span ion-text color="primary">{{ node.info.account_num}}</span></p>
        <button *ngIf="node.allowed === 'CREDIT'" ion-button color="secondary" (click)="goToVerify(node)">Verify</button>

        <div margin-top>
          <a (click)=deleteNode(node)><b>Delete Connected Account</b></a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <button *ngIf="this.nodes.length < 2" ion-button (click)="moveToAddBeneficiary()">Connect to Your Bank</button>

</ion-content>
