<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 margin-vertical ion-text color="title" padding>Withdrawal</h1>

  <div margin-vertical>
    <img style="width: 30%;" src="assets/img/withdraw.png" alt="Withdraw">
  </div>

  <h3 margin-vertical ion-text color="grey">Set your withdrawal amount</h3>

  <div margin-vertical text-left padding>

    <b ion-text color="grey"> Remaining Monthly Withdrawals:
      {{userProvider?.currentUser?.sps?.saving?.monthly_withdrawals_remaining}}</b>
    <b ion-text color="grey"> Available funds: ${{funds}}</b>
  </div>

  <withdrawal-form (onSubmit)="continue($event)" [max]="funds"></withdrawal-form>
</ion-content>