<ion-header>
  <onward-header [active]="false"></onward-header>
</ion-header>
<ion-content padding>

  <div padding>
    <onward-branding></onward-branding>
    <h2 ion-text color="primary">SIGN UP</h2>
    <p ion-text color="grey">You are on your way to a better financial future!</p>
  </div>

  <div>
    Guide content here
  </div>

  <ion-row padding>
    <button class="big-button" (click)="goToSignUp()" ion-button color="secondary">Next</button>
  </ion-row>

</ion-content>
