<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h2 ion-text color="title" margin>My Account</h2>
  <h4 ion-text color="grey" margin-top>My Connected Accounts</h4>

  <p ion-text color="grey">
    Onward will deposit two small amounts into your account in 1-2 business days.
    Please check your account and verify the amounts by clicking Verify under My Account on the dashboard.
  </p>

  <button margin ion-button color="secondary" class="secondary big-button" (click)="goToAccount()">
    Continue
  </button>
</ion-content>
