<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding>

  <h1 ion-text color="title">Admin</h1>

  <h2 ion-text color="grey">Customer Name</h2>


  customer Data Here

  <ion-list>
    <button ion-item *ngFor="let group of groups; let i = index" (click)="goToGroup(i)">
      {{ group.name }}
    </button>
  </ion-list>

  <button ion-button color="secondary" (click)="goToNewGroup()">
    New Group
  </button>

</ion-content>