notice {
    .dot {
        height: 10px;
        width: 10px;
        background-color: color($colors, notification);
        border-radius: 50%;
        display: inline-block;
    }
    .notice-container {
        padding: 10px 20px;
    }
}