<div class="notice-container">
  <ion-row>
    <ion-col col-1 text-left>
      <div>
        <span class="dot"></span>
      </div>
    </ion-col>
    <ion-col text-left>
      <h3><b ion-text color="title">{{noticeData?.title}}</b></h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <p ion-text color="grey">{{noticeData?.title}}</p>
  </ion-row>
</div>
<hr class="primary-edges">
