<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 ion-text color="title">Admin</h1>

  <h2 ion-text color="grey">Customers</h2>

  <ion-list>
    <button ion-item *ngFor="let customer of customers; let i = index" (click)="goToCustomer(i)">
      {{ customer.name }}
    </button>
  </ion-list>

  <button ion-button color="secondary" (click)="goToNewCustomer()" >
    New Customer
  </button>

</ion-content>