<ion-header>
  <onward-header></onward-header>
</ion-header>

<ion-content padding text-center>

  <h1 margin-vertical ion-text color="title" padding>Create a Goal</h1>

  <div margin-vertical>
    <img style="width: 30%;" src="assets/img/savings.png" alt="Savings">
  </div>

  <h3 margin-vertical ion-text color="grey">How much do you want to save?</h3>

  <ion-grid text-center *ngIf="selectMode === 'auto'">
    <ion-row>
      <ion-col col-6 *ngFor="let item of list">
        <button padding class="onward-box rounded press" (click)="selectedDeduction(item)">
          <b>
            ${{item.amount}} per paycheck for
          </b><br>
          <span>
            12 paychecks <br>
            ${{item.amount * 12 }}
          </span>
        </button>
      </ion-col>

      <ion-col col-3></ion-col>
      <ion-col col-6>
        <button (click)="selectedOther()" padding class="onward-box rounded press">
          <span>YOU CHOOSE</span>
        </button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>


  <div *ngIf="selectMode === 'manual'">

    <ion-item>
      <ion-label floating>Target Date</ion-label>
      <ion-datetime class="primary-text" [(ngModel)]="savings.targetDate" (ngModelChange)="savings.calculateSavingGoal()"
        displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [min]="savings.minDate" max="2050-12-31"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Deduction Amount</ion-label>
      <ion-input class="primary-text" [(ngModel)]="savings.deduction" (change)="savings.calculateSavingGoal()" type="number"
        min="1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Saving Goal</ion-label>
      <ion-input class="primary-text" [(ngModel)]="savings.amount" (change)="savings.calculateDeduction()" type="number"
        min="1"></ion-input>
    </ion-item>

    <ion-row margin>
      <button ion-button class="big-button mx-auto" color="secondary" [disabled]="!savings.isValid" (click)="confirmation()">
        NEXT
      </button>
    </ion-row>

    <ion-row margin>
      <button (click)="selectMode = 'auto'" class="big-button mx-auto" ion-button color="light">
        <span ion-text color="primary">
          <ion-icon name="arrow-back" padding-right></ion-icon>
          <span>
            BACK
          </span>
        </span>
      </button>
    </ion-row>

  </div>

</ion-content>
