page-create-goal-calculation {
  button.press {
    min-width: 150px;
    min-height: 100px;
    color: color($colors, primary);
    transition: background-color 0.5s, color 0.5s;

    &:active {
      color: white;
    }

    &.press:hover {
      color: white;
    }
  }
}
